

:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: "";
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

.loginPage{
  position: relative;
  width: 1901px;
  height: 1080px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
 transform: scale(0.7);
 left: -275px;
 display: flex;


}
.whitepaper1 {
  position: absolute;
  left: 638px;
  top: 0;
  width: 1282px;
  height: 1080px;
  background-image: url("/assets/whitepaper1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle3 {
  position: absolute;
  left: 693px;
  top: 1px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(130.6deg, #008579ff 25%, #ed20b3ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.frame5814 {
  position: absolute;
  left: 133px;
  top: calc(50% - -0.5px);
  width: min-content;
  height: min-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  padding: 10px;
  transform: translateY(-50%);
}
.frame5818 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.frame5815 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.loginToYourAccount {
  color: #222;
  font-size: 23px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.forgotPasswordClickHereToReset {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  flex-shrink: 1;
}
.label {
  color: #222;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 0.1px;
}
.label2 {
  color: #128474;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 0.1px;
}
.label3 {
  color: #222;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 0.1px;
}
.frame5816 {
  width: min-content;
  height: 171px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.group8 {
  position: relative;
  width: 348px;
  height: 44px;
}
.rectangle4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 348px;
  height: 44px;
  outline: solid 1px #ced4da;
  outline-offset: -1px;
  border-radius: 4px;
  background-color: #fff;
}
.frame5845 {
  position: absolute;
  left: 2.0115%;
  right: 63.5057%;
  top: 2.2727%;
  bottom: 4.5455%;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.username {
  color: #cdd3da;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 0.25px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group9 {
  position: relative;
  width: 348px;
  height: 44px;
}
.rectangle42 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 348px;
  height: 44px;
  outline: solid 1px #ced4da;
  outline-offset: -1px;
  border-radius: 4px;
  background-color: #fff;
}
.frame5846 {
  position: absolute;
  left: 2.0115%;
  right: 64.6552%;
  top: 2.2727%;
  bottom: 4.5455%;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.password {
  color: #cdd3da;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 0.25px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame10 {
  flex: 1;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  padding: 11px 17px;
  outline: solid 1px #008579;
  outline-offset: -1px;
  border-radius: 4px;
  background-color: #008579;
}
.signIn {
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 1.25px;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.aProblemClickHereAndLetUsHelpY {
  position: absolute;
  left: 165px;
  top: 884px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  flex-shrink: 1;
}
.label4 {
  color: #000;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 0.25px;
}
.label5 {
  color: #008579;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 0.25px;
}
.label6 {
  color: #000;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 0.25px;
}
.frame5817 {
  position: absolute;
  left: 744px;
  top: calc(50% - -0.5px);
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  transform: translateY(-50%);
}
.securelySignInToGateway {
  color: #fff;
  font-size: 58px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: -0.5px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.materialResourcePlanner {
  color: #fff;
  font-size: 47px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.loremIpsumIsSimplyDummyTextOfT {
  color: #fff;
  font-size: 14px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 0.25px;
  width: 776px;
  height: min-content;
  flex-direction: column;
}
.frame5983 {
  position: absolute;
  left: 1383px;
  top: 263px;
  width: 100px;
  height: 100px;
  flex-direction: column;
  overflow: hidden;
}
