<div class="loginPage">
<div class="whitepaper1"></div>
<div class="rectangle3"></div>
<div class="frame5814">
  <loginPage-logo-2></loginPage-logo-2>
  <div class="frame5818">
    <div class="frame5815">
      <div class="loginToYourAccount">Login to your Account</div>
      <div class="forgotPasswordClickHereToReset">
        <p class="labelWrapper">
          <span class="label">Forgot password?</span>
          <span class="label2">Click here</span>
          <span class="label3">to reset.</span>
        </p>
      </div>
    </div>
    <div class="frame5816">
      <div class="group8">
        <div class="rectangle4"></div>
        <div class="frame5845">
          <loginPage-person-1></loginPage-person-1>
          <div class="username">Username</div>
        </div>
      </div>
      <div class="group9">
        <div class="rectangle42"></div>
        <div class="frame5846">
          <loginPage-lock-1></loginPage-lock-1>
          <div class="password">Password</div>
        </div>
      </div>
      <div class="frame10"><div class="signIn">Sign In</div></div>
    </div>
  </div>
</div>
<div class="aProblemClickHereAndLetUsHelpY">
  <p class="labelWrapper2">
    <span class="label4">A problem?</span>
    <span class="label5">Click here</span>
    <span class="label6">and let us help you.</span>
  </p>
</div>
<div class="frame5817">
  <div class="securelySignInToGateway">Securely Sign In to Gateway:</div>
  <div class="materialResourcePlanner">Material Resource Planner</div>
  <div class="loremIpsumIsSimplyDummyTextOfT">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
    industry&amp;#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
    scrambled it to make a type specimen book.
  </div>
</div>
<div class="frame5983"></div>
</div>