<span class="p-input-icon-right ">
  <i class="pi pi-search"></i>
  <input class="p-inputtext-lg items-search-input" type="text" pInputText  />
</span>

<div class="explore-item" >

  <div  class="explore-item-card m-2">
    <div class="item-search-popup-header">
    
        <div>
          <div class="d-flex justify-content-between" > 
             <p><b>Sponsor:</b>  &nbsp; &nbsp;&nbsp;&nbsp; <span>Pfizer. Inc</span></p>  
            <p><b>Protocol:</b>  &nbsp; &nbsp;&nbsp;&nbsp; <span>C1071007</span></p> 
          </div>
        </div>
        <div>
          <div class="d-flex justify-content-between" > 
            <p><b>Site:</b>  &nbsp; &nbsp;&nbsp;&nbsp; <span>1015</span></p>  
         
              <p><b>Status:</b>  &nbsp; &nbsp;&nbsp;&nbsp; <span>Pfizer. Inc</span></p> 
         </div>
        </div>
      
        <div class="mt-4">
          <p> <b>Kit Components</b> </p>
        </div>
      
        <div class="d-flex justify-content-between mt-2" >
          <p> <b>Component</b> </p>
          <p> <b>Product No.</b> </p>
        </div>
        <p-divider class="m-0" type="solid"></p-divider>
        <div class="d-flex justify-content-between" >
          <div>
            <p> Prelabel items for kit assembly </p>
            <p> Kit Box Small 9x5x2.5 (with Sealing strip) </p>
            <p> G-Sub-Assembly </p>
            <p> Assembling Baggie 8x8 </p>
          </div>
          <div>
            <p> Prelabel2 </p>
            <p> 345632 VMI </p>
            <p> G-Sub </p>
            <p> F20808 </p>
          </div>
        </div>

    </div>
   
  </div>
</div>

