<div class="row sponsor-table">
    <div class="col card below-card" style="margin-left: 10px;">
      <!-- Header with expand/collapse icon -->
      <div class="d-flex justify-content-between align-items-center" style="padding: 10px;">
        <span class="p-input-icon-left ml-auto" style="cursor: pointer; font-size: 1.25rem;">
          <span (click)="handleRowControl()">
            <i class="bi bi-arrows-angle-expand" *ngIf="changeExpandButton; else collapseIcon"></i>
            <ng-template #collapseIcon>
              <i class="bi bi-arrows-angle-contract"></i>
            </ng-template>
          </span>
        </span>
      </div>
  
      <p-table [value]="sponsors" dataKey="Visit" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[10, 20, 30]" [paginator]="false"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [filterDelay]="0"
               styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
  
        <ng-template pTemplate="header">
          <tr>
            <th style="background-color: rgba(255, 248, 232, 1); text-align: center;" pSortableColumn="Protocol">
              <div class="flex justify-content-between align-items-center">
                Protocol
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1); text-align: center;" pSortableColumn="Cohort">
              <div class="flex justify-content-between align-items-center">
                Cohort
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1); text-align: center;" pSortableColumn="Visit">
              <div class="flex justify-content-between align-items-center">
                Visit
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1); text-align: center;" pSortableColumn="Kit Name">
              <div class="flex justify-content-between align-items-center">
                Kit Name
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1); text-align: center;" pSortableColumn="Kit Qty">
              <div class="flex justify-content-between align-items-center">
                Kit Qty
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1); text-align: center;" pSortableColumn="Pre Label">
              <div class="flex justify-content-between align-items-center">
                Pre Label
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1); text-align: center;" pSortableColumn="Kit Complexity Level">
              <div class="flex justify-content-between align-items-center">
                Kit Complexity Level
              </div>
            </th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-sponsors>
          <tr>
            <td>{{ sponsors.Protocol }}</td>
            <td>{{ sponsors.Cohort }}</td>
            <td>{{ sponsors.Visit }}</td>
            <td>{{ sponsors.KitName }}</td>
            <td>{{ sponsors.KitQty }}</td>
            <td>{{ sponsors.PreLabel }}</td>
            <td>{{ sponsors.KitComplexityLevel }}</td>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No Data found.</td>
          </tr>
        </ng-template>
  
      </p-table>
    </div>
  </div>
  