.demandsupplySection{
    background-color: #F8F8F8;
    padding: 10px;
    border-radius: 5px;
}

.cheap-one{
    width: 109.25px;
    height: 53px;
    gap: 0px;
    opacity: 0px;
    background-color: #F5FBF6;
    margin: 10px;
    padding: 5px;
}

.cheap-two{

    width: 109.25px;
    height: 53px;
    gap: 0px;
    opacity: 0px;
    background: #F3F9FD;
    margin: 10px;
    padding: 5px;
}