<div class="loginPage">
  <div class="whitepaper1"></div>
  <div class="rectangle3"></div>
  <div class="frame5814">
    <div class="logo-container">
      <div class="genericLocoColour"><img src="assets/icon-logo.svg" alt="" class="icon" /></div>
      </div>
    <div class="frame5818">
      <div class="frame5815">
        <div class="loginToYourAccount">Login to your Account</div>
        <div class="forgotPasswordClickHereToReset">
          <p class="labelWrapper">
            <span class="label">Forgot password?</span>
            <span class="label2">Click here</span>
            <span class="label3">to reset.</span>
          </p>
        </div>
      </div>
      <form class="frame5816" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    
        <span class="p-input-icon-left p-float-label user-field mb-2">
          <i class="pi pi-user"></i>
          <input id="float-input" type="text" pInputText formControlName="username" />
          <label for="float-input">Username</label>
          <div *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
            Username is required.
          </div>
        </span>
      
        <span class="p-input-icon-left p-float-label user-field">
          <i class="pi pi-lock"></i>
          <input id="float-input" type="password" pInputText formControlName="password" />
          <label for="float-input">Password</label>
          <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            Password is required.
          </div>
        </span>
        <p-button type="submit"  label="Sign In" [loading]="loading"  [disabled]="loginForm.invalid" class="sign-in-btn"></p-button>
  
    </form>
    </div>
  </div>
  <div class="aProblemClickHereAndLetUsHelpY">
    <p class="labelWrapper2">
      <span class="label4">A problem?</span>
      <span class="label5">Click here</span>
      <span class="label6">and let us help you.</span>
    </p>
  </div>
  <div class="frame5817">
    <div class="securelySignInToGateway">Securely Sign In to Gateway:</div>
    <div class="materialResourcePlanner">Material Resource Planner</div>
    <div class="loremIpsumIsSimplyDummyTextOfT">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      industry&amp;#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book.
    </div>
  </div>
  <div class="frame5983"></div>
  </div>


