<h3>Scrap Configs </h3>

<p-divider />

<div class="d-flex justify-content-start self-life">
	<form [formGroup]="shelfLifeForm" (ngSubmit)="onSubmit()">
	  <div class="d-flex flex-wrap">
		<div class="p-field mx-2 d-flex flex-column" [ngClass]="{'p-invalid': shelfLifeForm.get('expiryDuration')?.invalid && shelfLifeForm.get('expiryDuration')?.touched}">
		  <p for="expiryDuration">Expiry Duration</p>
		  <input pInputText id="expiryDuration" formControlName="expiryDuration" type="number" />
		  <small class="error-text-color"  *ngIf="shelfLifeForm.get('expiryDuration')?.invalid && shelfLifeForm.get('expiryDuration')?.touched">Expiry Duration is required.</small>
		</div>
		<div class="p-field mx-2 d-flex flex-column" [ngClass]="{'p-invalid': shelfLifeForm.get('shortShelfLife')?.invalid && shelfLifeForm.get('shortShelfLife')?.touched}">
		  <p for="shortShelfLife">Short Shelf Life</p>
		  <input pInputText id="shortShelfLife" formControlName="shortShelfLife" type="number" />
		  <small class="error-text-color" *ngIf="shelfLifeForm.get('shortShelfLife')?.invalid && shelfLifeForm.get('shortShelfLife')?.touched">Short Shelf Life is required.</small>
		</div>
		<div class="p-field mx-2 d-flex flex-column" [ngClass]="{'p-invalid': shelfLifeForm.get('mediumShelfLife')?.invalid && shelfLifeForm.get('mediumShelfLife')?.touched}">
		  <p for="mediumShelfLife">Medium Shelf Life</p>
		  <input pInputText id="mediumShelfLife" formControlName="mediumShelfLife" type="number" />
		  <small class="error-text-color" *ngIf="shelfLifeForm.get('mediumShelfLife')?.invalid && shelfLifeForm.get('mediumShelfLife')?.touched">Medium Shelf Life is required.</small>
		</div>
		<div class="p-field mx-2 d-flex flex-column" [ngClass]="{'p-invalid': shelfLifeForm.get('longShelfLife')?.invalid && shelfLifeForm.get('longShelfLife')?.touched}">
		  <p for="longShelfLife">Long Shelf Life</p>
		  <input pInputText id="longShelfLife" formControlName="longShelfLife" type="number" />
		  <small class="error-text-color" *ngIf="shelfLifeForm.get('longShelfLife')?.invalid && shelfLifeForm.get('longShelfLife')?.touched">Long Shelf Life is required.</small>
		</div>
		<div class="p-field mx-2 d-flex flex-column" [ngClass]="{'p-invalid': shelfLifeForm.get('userName')?.invalid && shelfLifeForm.get('userName')?.touched}">
		  <p for="userName">User Name</p>
		  <input pInputText id="userName" formControlName="userName" type="text" />
		  <small class="error-text-color" *ngIf="shelfLifeForm.get('userName')?.invalid && shelfLifeForm.get('userName')?.touched">User Name is required.</small>
		</div>
		<div class="p-field mx-2 mt-4">
		  <button type="submit" class="btn btn-success mt-3" [disabled]="shelfLifeForm.invalid">Submit</button>
		</div>
	  </div>
	</form>
  </div>
  
  
<!-- self life table -->
 
<div class="self-life-table">
  <p-table #dt [value]="selfLifeTableData"  dataKey="id" [rowHover]="true"
		[rows]="10" [showCurrentPageReport]="true"  [loading]="loading"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[filterDelay]="0"
		styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"  >
	   
		 <ng-template pTemplate="header">
		
		  <tr  class="self-life-header" >
			<th >
			  <div class="flex justify-content-between align-items-center">
				Action 
			  </div>
			</th>
	  
			<th >
			  <div class="flex justify-content-between align-items-center">
				Expiry Duration (Days)
			  </div>
			</th>

			<th >
				<div class="flex justify-content-between align-items-center">
					Short Shelf Life (Days)
				</div>
			</th>

			<th>
			  <div class="flex justify-content-between align-items-center">
         Medium Shelf Life (Days)
			
			  </div>
			</th>
	  
			<th >
			  <div class="flex justify-content-between align-items-center">
				Long Shelf Life (Days)
			  </div>
			</th>
	  
			<th >
			  <div class="flex justify-content-between align-items-center">
				User Name
			  </div>
			</th>
	  
		
	
			<th>
				<div class="flex justify-content-between align-items-center">
					Created Date
				  
				</div>
			  </th>

			  <th>
				<div class="flex justify-content-between align-items-center">
					Last Modified Date
				  
				</div>
			  </th>
	  
		  </tr>
	

		</ng-template>
	  
	
   <ng-template pTemplate="body" let-selfLifeTableData>
		  <tr class="p-selectable-row">
			<td><i class="bi bi-pencil"></i></td>
			  <td class="ui-table-data-cell">{{selfLifeTableData.expiryDuration}}</td>
			  <td class="ui-table-data-cell">{{selfLifeTableData.shortShelfLife}}</td>
			  <td class="ui-table-data-cell">{{selfLifeTableData.mediumShelfLife}}</td>
			  <td class="ui-table-data-cell">{{selfLifeTableData.longShelfLife}}</td>
			  <td class="ui-table-data-cell">{{selfLifeTableData.createdBy}}</td>
			  <td class="ui-table-data-cell">{{util.formatDate(selfLifeTableData.createdDate)}}</td>
			  <td class="ui-table-data-cell">{{util.formatDate(selfLifeTableData.createdDate)}}</td>
		  </tr>w
		</ng-template>  
		
	  
	  </p-table>
	</div>

