<div>
    <h4 class="mb-4">Item Configs</h4>

    <!-- Upload Excel and Add Item buttons -->
    <div class="table-header d-flex justify-content-between">
        <div></div>
        <div>
            <span class="p-input-icon-left ml-auto">
                <input type="file" (change)="onFileSelected($event)" accept=".xlsx, .xls"/>
                <p-button [text]="true" [plain]="true">
                    <i class="bi bi-upload" click="uploadExcel()"></i>
                </p-button>
            </span>

            <!-- Add Item button -->
            <span class="p-input-icon-left ml-auto">
                <span (click)="addItem()">
                    <p-button [text]="true" [plain]="true">
                        <i class="bi bi-plus-lg mx-2"></i> <span>Add Item</span>
                    </p-button>
                </span>
            </span>

            <!-- Expand/Collapse button -->
            <span class="p-input-icon-left ml-auto">
                <span (click)="handleRowControl()">
                    <p-button [text]="true" [plain]="true">
                        <i class="bi bi-arrows-angle-expand" *ngIf="!changeExpandButton; else collapseIcon"></i>
                        <ng-template #collapseIcon>
                            <i class="bi bi-arrows-angle-contract"></i>
                        </ng-template>
                    </p-button>
                </span>
            </span>
        </div>
    </div>

    <!-- Display uploaded Excel data -->
    <div *ngIf="excelData && excelData.length > 0" class="p-mb-3">
        <!-- <h5>Uploaded Excel Data</h5> -->
        <table class="p-table">
            <thead>
                <tr>
                    <th *ngFor="let header of excelHeaders">{{ header }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of excelData">
                    <td *ngFor="let key of excelHeaders">{{ row[key] }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p-table #dt [value]="itemDataConfig" dataKey="id" [rowHover]="true"
        [rows]="controlRow" [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['itemNo', 'itemDescription', 'criticality', 'weight', 'price', 'status', 'approvedCountry', 'replacement', 'minoq']"
        responsiveLayout="stack" 
        [breakpoint]="'900px'" 
        [tableStyle]="{'min-width': '100vw'}"
        styleClass={{selectedSize}} [exportHeader]="'customExportHeader'">


        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="action-item">
                    <div class="flex justify-content-between align-items-center">Actions</div>
                </th>
                
                <th pSortableColumn="itemNo">
                    <div class="flex justify-content-between align-items-center">Item #
                        <p-columnFilter type="text" field="itemNo" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                
                <th pSortableColumn="itemDescription">
                    <div class="flex justify-content-between align-items-center">Item Description
                        <p-columnFilter type="text" field="itemDescription" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                
                <th pSortableColumn="criticality">
                    <div class="flex justify-content-between align-items-center">Criticality
                        <p-columnFilter type="text" field="criticality" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                
                <th pSortableColumn="itemType">
                    <div class="flex justify-content-between align-items-center">Item Type
                        <p-columnFilter type="text" field="itemType" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                
                <th pSortableColumn="weight">
                    <div class="flex justify-content-between align-items-center">Weight
                        <p-columnFilter type="text" field="weight" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                
                <th pSortableColumn="price">
                    <div class="flex justify-content-between align-items-center">Price
                        <p-columnFilter type="text" field="price" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                
                <th pSortableColumn="status" style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">Status
                        <p-columnFilter type="text" field="status" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                
                <th pSortableColumn="approvedCountry" style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">Approved Countries
                        <p-columnFilter type="text" field="approvedCountry" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                
                <th pSortableColumn="replacement" style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">Replacement
                        <p-columnFilter type="text" field="replacement" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                
                <th pSortableColumn="minoq" style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">Min Order Qty
                        <p-columnFilter type="text" field="minoq" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-itemDataConfig let-ri="rowIndex" let-editing="editing">
            <tr class="p-selectable-row" [pEditableRow]="itemDataConfig">
                <td>
                    <span class="ml-2" *ngIf="!itemDataConfig.editing"><i class="bi bi-pencil mx-2" (click)="startEditing(itemDataConfig)"></i></span>
                    <div *ngIf="itemDataConfig.editing" class="d-flex align-items-center">
                        <button 
                            pButton 
                            pRipple 
                            type="button" 
                            pSaveEditableRow 
                            icon="pi pi-check" 
                            (click)="saveChanges(itemDataConfig)" 
                            class="p-button-rounded p-button-text p-button-success mr-0">
                        </button>
                        <button 
                            pButton 
                            pRipple 
                            type="button" 
                            pCancelEditableRow 
                            icon="pi pi-times" 
                            (click)="cancelEdit(itemDataConfig, ri)" 
                            class="p-button-rounded p-button-text p-button-danger">
                        </button> 
                    </div>
                    <span class="ml-2" *ngIf="!itemDataConfig.editing"><i class="bi bi-eye mx-2"></i></span> 
                    <span class="ml-2" *ngIf="!itemDataConfig.editing"><i class="bi bi-chat-left-text mx-2"></i></span>
                </td>
                <td [pEditableColumn]="itemDataConfig.itemNo" pEditableColumnField="itemNo" [style.pointer-events]="itemDataConfig.editing ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="itemDataConfig.itemNo" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ itemDataConfig.itemNo }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                
                <td [pEditableColumn]="itemDataConfig.itemDescription" pEditableColumnField="itemDescription" [style.pointer-events]="itemDataConfig.editing ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="itemDataConfig.itemDescription" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ itemDataConfig.itemDescription }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="itemDataConfig.criticality" pEditableColumnField="criticality" [style.pointer-events]="itemDataConfig.editing ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="itemDataConfig.criticality"/>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ itemDataConfig.criticality }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="itemDataConfig.itemType" pEditableColumnField="itemType" [style.pointer-events]="itemDataConfig.editing ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="itemDataConfig.itemType" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ itemDataConfig.itemType }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="itemDataConfig.weight" pEditableColumnField="weight" [style.pointer-events]="itemDataConfig.editing ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="itemDataConfig.weight" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ itemDataConfig.weight }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="itemDataConfig.price" pEditableColumnField="price" [style.pointer-events]="itemDataConfig.editing ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="itemDataConfig.price" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ itemDataConfig.price }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="itemDataConfig.status" pEditableColumnField="status" [style.pointer-events]="itemDataConfig.editing ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="itemDataConfig.status" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ itemDataConfig.status }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="itemDataConfig.approvedCountry" pEditableColumnField="approvedCountry" [style.pointer-events]="itemDataConfig.editing ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="itemDataConfig.approvedCountry" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ itemDataConfig.approvedCountry }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="itemDataConfig.replacement" pEditableColumnField="replacement" [style.pointer-events]="itemDataConfig.editing ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="itemDataConfig.replacement" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ itemDataConfig.replacement }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="itemDataConfig.minoq" pEditableColumnField="minoq" [style.pointer-events]="itemDataConfig.editing ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="itemDataConfig.minoq" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ itemDataConfig.minoq }}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="11">No Data found.</td>
            </tr>
        </ng-template>
    </p-table>

   
<div class="item-confic-down-content">
    <h5><b>Criticality Config</b></h5>
    <p-divider />
    <div class="d-flex justify-content-start self-life">
        <div class="mx-4">
            <p class="m-0"><b>Low</b></p>
            <p-dropdown 
                [options]="monthList"
                [(ngModel)]="selectedValue"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                (onChange)="onSponsorChange($event)"
                placeholder="Select">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                        <div>{{ selectedOption.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-sponsors pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ sponsors.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="mx-4">
            <p class="m-0"><b>Medium</b></p>
            <p-dropdown 
                [options]="monthList"
                [(ngModel)]="selectedValue"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                (onChange)="onSponsorChange($event)"
                placeholder="Select">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                        <div>{{ selectedOption.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-sponsors pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ sponsors.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="mx-4">
            <p class="m-0"><b>High</b></p>
            <p-dropdown 
                [options]="monthList"
                [(ngModel)]="selectedValue"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                (onChange)="onSponsorChange($event)"
                placeholder="Select">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                        <div>{{ selectedOption.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-sponsors pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ sponsors.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div>
            <button type="button" class="btn btn-success mx-4 mt-4"> Submit</button>
        </div>
    </div>
</div>

<div>
    <h4 class="mb-4">Item Configs</h4>

	<p-table #dt [value]="itemDataConfig" dataKey="id" [rowHover]="true"
		[rows]="controlRow" [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions" [loading]="loading"
		[paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[filterDelay]="0"
		[globalFilterFields]="['item', 'itemDescription',  'demand',    'onStock',    'availability',    'openPurchaseOrder',    'earlyExpiryDate',    'itemType',    'quantityOrdered',    'replacement',    'kitProductLocation',    'excessStock',    'leadTime',    'consumption',    'componentType',    'forecast',    'totalDemand',    'scrap',    'warehouse',    'inventoryLocation',    'carton',    'kitCategory']"
		responsiveLayout="stack" 
		[breakpoint]="'900px'" 
		[tableStyle]="{'min-width': '100vw'}"
		styleClass={{selectedSize}} [exportHeader]="'customExportHeader'">

		<ng-template pTemplate="caption">
			<div class="table-header d-flex justify-content-between">
				<div>
                  
				</div>
				
				<div>


                    <span class="p-input-icon-left ml-auto">
						<span >
							<p-button [text]="true" [plain]="true">
								<i class="bi bi-upload"></i>
							</p-button>
						</span>
					</span>


                    <span class="p-input-icon-left ml-auto">
						<span >
							<p-button [text]="true" [plain]="true">
								<i class="bi bi-plus-lg mx-2"></i> <span>Add</span>
							</p-button>
						</span>
					</span>

					<span class="p-input-icon-left ml-auto">
						<span (click)="handleRowControl()">
							<p-button [text]="true" [plain]="true">
								<i class="bi bi-arrows-angle-expand" *ngIf="changeExpandButton; else collapseIcon"></i>
								<ng-template #collapseIcon>
									<i class="bi bi-arrows-angle-contract"></i>
								</ng-template>
							</p-button>
						</span>
					</span>

   

				</div>
			</div>
		</ng-template>

		<ng-template pTemplate="header">
			<tr>
				
				<th pSortableColumn="action-item">
					<div class="flex justify-content-between align-items-center">
                        Actions
					</div>
				</th>

				<th pSortableColumn="item">
					<div class="flex justify-content-between align-items-center">
						Item #
						<p-columnFilter type="text" field="item" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>
				<th pSortableColumn="itemDescription">
					<div class="flex justify-content-between align-items-center">
						Item Description
						<p-columnFilter type="text" field="itemDescription" display="menu"
							class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="demand">
					<div class="flex justify-content-between align-items-center">
						Criticality
						<p-columnFilter type="text" field="demand" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="onStock">
					<div class="flex justify-content-between align-items-center">
                        Item Type
						<p-columnFilter type="text" field="onStock" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="availability">
					<div class="flex justify-content-between align-items-center">
						Weight
						<p-columnFilter type="text" field="availability" display="menu"
							class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="openPurchaseOrder">
					<div class="flex justify-content-between align-items-center">
						Price
						<p-columnFilter type="text" field="openPurchaseOrder" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="earlyExpiryDate" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Status

						<p-columnFilter type="date" field="earlyExpiryDate" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="consumption" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
                        Approved Countries
						<p-columnFilter type="date" field="consumption" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>
				<th pSortableColumn="excessStock" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Replacement
						<p-columnFilter type="date" field="excessStock" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="replacement" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Min Order Qty
						<p-columnFilter type="date" field="replacement" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>
			</tr>
		</ng-template>

		<ng-template pTemplate="body" let-itemDataConfig>
			<tr class="p-selectable-row">
			
                <td> <i class="bi bi-pencil mx-2"></i> <i class="bi bi-eye mx-2" ></i> <i class="bi bi-chat-left-text mx-2" ></i> </td>


				<td>{{ itemDataConfig['itemNo'] }}</td>

				<td>{{ itemDataConfig['itemDescription'] }}</td>

				<td>{{ itemDataConfig['criticality'] }}</td>

                <td>{{ itemDataConfig['weight'] }}</td>
                
				<td>{{ itemDataConfig['weight'] }}</td>

				<td>{{ itemDataConfig['price'] }}</td>

				<td>{{ itemDataConfig['status'] }}</td>

				<td>{{ itemDataConfig['approvedCountry'] }}</td>
				
                
				<td>{{ itemDataConfig['replacement'] }}</td>

				<td>{{ itemDataConfig['minoq'] }}</td>

		


			</tr>
		</ng-template>

		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="8">No Data found.</td>
			</tr>
		</ng-template>

	</p-table>

</div>






<div class="item-confic-down-content" >
    <h5> <b>Criticality Config</b> </h5>

<p-divider />



<div class="d-flex justify-content-start self-life ">
			

    <div class="mx-4">
          <p class="m-0"><b>Low</b></p>
        <p-dropdown 
				[options]="monthList"
				[(ngModel)]="selectedValue"
				optionLabel="name"
				[filter]="true"
				filterBy="name"
				[showClear]="true"
				 (onChange)="onSponsorChange($event)"
				placeholder="Select">
					<ng-template pTemplate="selectedItem" let-selectedOption>
						<div class="flex align-items-center gap-2">
							
							<div>{{ selectedOption.name }}</div>
						</div>
					</ng-template>
					<ng-template let-sponsors pTemplate="item">
						<div class="flex align-items-center gap-2">
							
							<div>{{ sponsors.name }}</div>
						</div>
					</ng-template>
			</p-dropdown>
    </div>

    <div class="mx-4">
          <p class="m-0"><b>Medium</b></p>
        <p-dropdown 
				[options]="monthList"
				[(ngModel)]="selectedValue"
				optionLabel="name"
				[filter]="true"
				filterBy="name"
				[showClear]="true"
			   
				 (onChange)="onSponsorChange($event)"
		         placeholder="Select">
					<ng-template pTemplate="selectedItem" let-selectedOption>
						<div class="flex align-items-center gap-2">
							
							<div>{{ selectedOption.name }}</div>
						</div>
					</ng-template>
					<ng-template let-sponsors pTemplate="item">
						<div class="flex align-items-center gap-2">
							
							<div>{{ sponsors.name }}</div>
						</div>
					</ng-template>
			</p-dropdown>
    </div>
    
    <div class="mx-4">
        <p class="m-0"><b>High</b></p>
        <p-dropdown 
				[options]="monthList"
				[(ngModel)]="selectedValue"
				optionLabel="name"
				[filter]="true"
				filterBy="name"
				[showClear]="true"
			     
				 (onChange)="onSponsorChange($event)"
				placeholder="Select">
					<ng-template pTemplate="selectedItem" let-selectedOption>
						<div class="flex align-items-center gap-2">
							
							<div>{{ selectedOption.name }}</div>
						</div>
					</ng-template>
					<ng-template let-sponsors pTemplate="item">
						<div class="flex align-items-center gap-2">
							
							<div>{{ sponsors.name }}</div>
						</div>
					</ng-template>
			</p-dropdown>
    </div>
    
 <div>
    <button type="button" class="btn btn-success mx-4 mt-4"> Submit</button>
 </div>

</div>
</div>