.expanded-details {
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .expanded-details-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .expanded-details-table th, .expanded-details-table td {
    padding: 10px;
    text-align: left;
  }
  
  .expanded-details-table th {
    background-color: rgba(255, 248, 232, 1);
  }
  