.expanded-details {
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .expanded-details-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .expanded-details-table th, .expanded-details-table td {
    padding: 10px;
    text-align: left;
  }
  
  .expanded-details-table th {
    background-color: rgba(255, 248, 232, 1);
  }
  
  /* Example styling in revenue-table.component.scss */
.showProductionLocationTable {
    margin-top: 10px;
    gap:2px;
    background-color: #E6EDEE;
    // padding: 0px;
    // border-radius: 5px ;
  }
  
  /* Common button styles */
.filter-sm-circle-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Default style for the Monthly button */
.filter-sm-circle-btn-m {
  color: white; /* Default text color */
  border: 1px solid rgba(18, 132, 116, 1); /* Default border color */
  background-color: rgba(18, 132, 116, 1); /* Default background color */
}

/* Default style for the Weekly button */
.filter-sm-circle-btn-w {
  color: rgba(18, 132, 116, 1); /* Default text color */
  border: 1px solid #128474; /* Default border color */
  background-color: transparent; /* No default background color */
}

/* Hover and active styles for all buttons */
.filter-sm-circle-btn:hover,
.filter-sm-circle-btn:active {
  background-color: #128474; /* Background color on hover */
  color: white; /* Text color on hover */
}

/* Specifically for the Weekly button */
.filter-sm-circle-btn-w:hover,
.filter-sm-circle-btn-w:active {
  background-color: #128474; /* Background color on hover */
  color: white; /* Text color on hover */
}
