.filter-sm-circle-btn {
    width: 40px;
    height: 40px;
    border: 1px solid #128474;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #128474;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .filter-sm-circle-btn:hover,
  .filter-sm-circle-btn:active {
    background-color: #128474;
    color: white;
  }

  ::ng-deep.p-datatable .p-datatable-thead > tr > th {
    padding: 0.2rem 8rem;
    background: #FFF8E8;
  }