<div class="row">
    <div class="col card below-card" style="margin-left: 10px;">
      <div class="accordion-header d-flex justify-content-between align-items-center" id="headingFive">
        <h6><b>Sites</b></h6>
        <div class="history-container">
          <i class="bi bi-arrow-clockwise history-icon"></i>
          <span class="history-text">History</span>
        </div>
      </div>
  
      <p-table [value]="sites" dataKey="Site" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[10, 20, 30]" [paginator]="false"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [filterDelay]="0"
               styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
  
        <ng-template pTemplate="header">
          <tr>
            <th style="background-color: rgba(255, 248, 232, 1);">
              Actions
            </th>
            <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="site">
              <div class="flex justify-content-between align-items-center">
                  Site
                  <p-columnFilter type="text" field="site" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="country">
              <div class="flex justify-content-between align-items-center">
                  Country
                  <p-columnFilter type="text" field="country" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="city">
              <div class="flex justify-content-between align-items-center">
                  City
                  <p-columnFilter type="text" field="city" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="region">
              <div class="flex justify-content-between align-items-center">
                  Region
                  <p-columnFilter type="text" field="region" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="QtyRequired">
              <div class="flex justify-content-between align-items-center">
                  Qty Required
                  <p-columnFilter type="text" field="QtyRequired" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="QtyRemaining">
              <div class="flex justify-content-between align-items-center">
                  Qty Remaining
                  <p-columnFilter type="text" field="QtyRemaining" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="DateKOS">
              <div class="flex justify-content-between align-items-center">
                  Date KOS
                  <p-columnFilter type="date" field="DateKOS" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="StudyStartDate">
              <div class="flex justify-content-between align-items-center">
                  Study Start Date
                  <p-columnFilter type="date" field="StudyStartDate" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="progress">
              <div class="flex justify-content-between align-items-center">
                  Progress
                  <p-columnFilter type="text" field="progress" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-site>
          <tr>
            <td>
              <span class="ml-2">
                <i class="bi bi-chat-left-text"></i>
              </span>
            </td>
            <td>{{ site.Site }}</td>
            <td>{{ site.Country }}</td>
            <td>{{ site.City }}</td>
            <td>{{ site.Region }}</td>
            <td>{{ site.QtyRequired }}</td>
            <td>{{ site.QtyRemaining }}</td>
            <td>{{ site.DateKOS }}</td>
            <td>{{ site.StudyStartDate }}</td>
            <td>
              <div class="progress-bar" [ngStyle]="getProgressBarStyle()">
                <span class="progress-value">
                  {{ site.Progress }}<ng-container *ngIf="shouldDisplayPercentage()">%</ng-container>
                </span>
              </div>
            </td>     
          </tr>
        </ng-template>
  
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No Data found.</td>
          </tr>
        </ng-template>
  
      </p-table>
    </div>
  </div>
  