.dashboard-micro::ng-deep .p-progressbar .p-progressbar-value {
    background:#47C345;
}

.dashboard-card::ng-deep .card {
      min-height: 20vh;
}

.dashboard-card-lower::ng-deep .card {
    min-height: 70vh;
}


.revenue-card::ng-deep.p-datatable .p-datatable-tbody > tr > td {
      
    font-size: 20px;
     border-width: none;
    border-color: white;
}


.revenue-card::ng-deep.p-datatable .p-datatable-thead > tr > th {
   
     border-width:none;
     border-color:white;
}

.toggle-tabset::ng-deep.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
    margin-right: 0;
    width: 50%;
}

.toggle-tabset::ng-deep.gap-2 {
    gap: 0.5rem !important;
    width: 100%;
}
.toggle-tabset .gap-2 {
    gap: 0.5rem !important;
    width: 100%;
    justify-content: center;
    font-weight: 400;
}

.toggle-tabset ::ng-deep .p-tabmenu .p-tabmenu-nav {
 border:none; 
 border-width: 0 0 2px 0; 
}

.toggle-tabset ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: #ffffff;
    border-color: #128474;
    color: #128474;
}


.dashboard-impact-dropdown{

    margin-top: 2rem;
    

}

.dashboard-impact-dropdown ::ng-deep .p-dropdown {
    width: 100%;
}

.dashboard-top-sidebar::ng-deep.p-sidebar-top {
    height: 40rem;
}