<!-- Inventory table -->
<div >
	<p-table #dt [value]="inventoryTableData" dataKey="id" [rowHover]="true"
		[rows]="controlRow" [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions" [loading]="loading"
		[paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[filterDelay]="0"
		[globalFilterFields]="['item', 'itemDescription',  'demand',    'onStock',    'availability',    'openPurchaseOrder',    'earlyExpiryDate',    'itemType',    'quantityOrdered',    'replacement',    'kitProductLocation',    'excessStock',    'leadTime',    'consumption',    'componentType',    'forecast',    'totalDemand',    'scrap',    'warehouse',    'inventoryLocation',    'carton',    'kitCategory']"
		responsiveLayout="stack" 
		[breakpoint]="'900px'" 
		[tableStyle]="{'min-width': '100vw'}"
		styleClass={{selectedSize}} [exportHeader]="'customExportHeader'">
		<ng-template pTemplate="caption">
			<div class="table-header d-flex justify-content-between">
				<div>
					<div class="filter-sm-circle-btn" (click)="handleDateShortener('yearly')"
						[class.selected]="selectedInterval === 'yearly'">Y</div>
					<div class="filter-sm-circle-btn" (click)="handleDateShortener('half-yearly')"
						[class.selected]="selectedInterval === 'half-yearly'">H</div>
					<div class="filter-sm-circle-btn" (click)="handleDateShortener('quarterly')"
						[class.selected]="selectedInterval === 'quarterly'">Q</div>
					<div class="filter-sm-circle-btn" (click)="handleDateShortener('monthly')"
						[class.selected]="selectedInterval === 'monthly'">M</div>
				
				</div>
				<div>
					<h4>Inventory</h4>
				</div>
				<div>
					<span class="p-input-icon-left ml-auto">
						<span (click)="exportExcel()">
							<p-button [text]="true" [plain]="true"> <i class="bi bi-download"></i></p-button>
						</span>
					
						<span (click)="handleAdditionanlColumn()">
							<p-button [text]="true" [plain]="true"> <i
									class="bi bi-layout-three-columns"></i></p-button>
						</span>
						<span (click)="handleRowControl()">
							<p-button [text]="true" [plain]="true">
								<i class="bi bi-arrows-angle-expand" *ngIf="changeExpandButton; else collapseIcon"></i>
								<ng-template #collapseIcon>
									<i class="bi bi-arrows-angle-contract"></i>
								</ng-template>
							</p-button>
						</span>
					</span>

				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				
				<th pSortableColumn="action-item">
					<div class="flex justify-content-between align-items-center">
						Action 
					</div>
				</th>

				<th pSortableColumn="item">
					<div class="flex justify-content-between align-items-center">
						Item
						<p-columnFilter type="text" field="item" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>
				<th pSortableColumn="itemDescription">
					<div class="flex justify-content-between align-items-center">
						Item Description
						<p-columnFilter type="text" field="itemDescription" display="menu"
							class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="demand">
					<div class="flex justify-content-between align-items-center">
						Demand
						<p-columnFilter type="text" field="demand" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="onStock">
					<div class="flex justify-content-between align-items-center">
						On Stock
						<p-columnFilter type="text" field="onStock" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="availability">
					<div class="flex justify-content-between align-items-center">
						Availablity
						<p-columnFilter type="text" field="availability" display="menu"
							class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="openPurchaseOrder">
					<div class="flex justify-content-between align-items-center">
						PO Status
						<p-columnFilter type="text" field="openPurchaseOrder" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="earlyExpiryDate" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Early Expire Date

						<p-columnFilter type="date" field="earlyExpiryDate" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="consumption" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Consumption

						<p-columnFilter type="date" field="consumption" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>
				<th pSortableColumn="excessStock" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Excess Stock
						<p-columnFilter type="date" field="excessStock" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="replacement" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Replacement 
						<p-columnFilter type="date" field="replacement" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="scrap" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Scrap

						<p-columnFilter type="numeric" field="scrap" display="menu" currency="USD"
							class="ml-auto"></p-columnFilter>
					</div>
				</th>
		

				<th pSortableColumn="itemType" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Item Type

						<p-columnFilter type="numeric" field="itemType" display="menu" currency="USD"
							class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<ng-container *ngFor="let item of tableHeaderItem">
					<ng-container *ngIf="item.active">
						<th pSortableColumn="{{ item.sortableColumn }}" style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								{{ item.columnName }}
								<p-columnFilter *ngIf="item.active" type="numeric" field="balance" display="menu"
									currency="USD" class="ml-auto">
								</p-columnFilter>
							</div>
						</th>
					</ng-container>
				</ng-container>

			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-inventoryTableData>
			<tr class="p-selectable-row">
				<td>
					<span> <i class="bi bi-eye" (click)="hanldeBelowContent()"></i></span>
					<span><i class="bi bi-graph-up-arrow mx-3" (click)="handleChartShow()"></i></span>
					<span class="ml-3"><i class="bi bi-chat-left-text" (click)="handleChatRightSidebar(inventoryTableData)"></i></span>
				</td>

				<td>
					<div class="item-section">  {{ inventoryTableData["item"]}}  </div>
				</td>
				<td>
					{{ inventoryTableData["itemDescription"] }}
				</td>
				<td>
					{{ inventoryTableData['demand'] }}
				</td>
				<td [style.color]="inventoryTableData['onStock'] < inventoryTableData['demand'] ? 'red' : 'green'">
					{{ inventoryTableData['onStock'] }}
				</td>

				<td [style.color]="(inventoryTableData['onStock'] - inventoryTableData['demand'] > 0 && inventoryTableData['availability'] > 0) ? '#1790D0' : (inventoryTableData['availability'] > 0 ? 'black' : 'red')">
					{{ inventoryTableData.availability }}
				</td>
				

				<td *ngIf="inventoryTableData['openPurchaseOrder'] === 'No Open PO'" style="color: red;">{{ inventoryTableData['openPurchaseOrder'] }}</td>

				<td *ngIf="inventoryTableData['openPurchaseOrder'] !== 'No Open PO'"> {{ inventoryTableData['openPurchaseOrder'] }}</td>

				<td>{{ util.formatDate(inventoryTableData['earlyExpiryDate']) }}</td>

				<td>{{ inventoryTableData['consumption'] }}</td>

				<td>{{ inventoryTableData['excessStock'] }}</td>

				<td>{{ inventoryTableData['replacement'] }}</td>

				<td>{{ inventoryTableData['scrap'] }}</td>

				<td>
	
					<div class="item-type-icons">
						<div class="item-type-cheap" *ngIf="inventoryTableData.itemType === 'Dangerous'"  style="background-color: rgba(227, 96, 96, 0.325);">
							<i class="bi bi-exclamation-triangle" style="color: red;"></i>
						</div>
						<div class="item-type-cheap"  *ngIf="inventoryTableData.itemType === 'Temperature'" style="background-color: #D1E9F6;">
							<i class="bi bi-thermometer-snow" style="color:#1790D0;"></i>
						</div>
						<div class="item-type-cheap" *ngIf="inventoryTableData.itemType === 'Kit'" style="background-color: #D4FCFC;">
							<i class="bi bi-hourglass" style="color: #004750;"></i>
						</div>
						<div class="item-type-cheap" *ngIf="inventoryTableData.itemType === 'Special'" style="background-color :#B3C8CB;">
							<i class="bi bi-box-seam" style="color: #004750;"></i>
						</div>

					</div>

				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="8">No Data found.</td>
			</tr>
		</ng-template>

	</p-table>

</div>

<!-- table add column -->
<div class="addition-col-menu">
	<p-listbox *ngIf="viewAdditionColumn" [options]="tableHeaderItem" [(ngModel)]="selectedItems"
		[selectAll]="selectAll" optionLabel="columnName" [style]="{ width: '20rem' }" [virtualScroll]="true"
		[filter]="true" [virtualScrollItemSize]="50" [multiple]="true" [checkbox]="true" [showToggleAll]="false"
		[metaKeySelection]="false" [showToggleAll]="true" (onChange)="onSelectionChange($event)"
		(onSelectAllChange)="onSelectAllChange($event)" [listStyle]="{ 'max-height': '220px' }">
	</p-listbox>

</div>

<!-- chat side bar  -->

<div class="item-detail-right-sidebar">
	<p-sidebar  #sidebarRef  [(visible)]="chatRightSideBar" position="right" styleClass="p-sidebar-lg">
		<ng-template pTemplate="headless"  >
			<div class="flex justify-content-between ml-3">
				<div>
					<p class="chat-sidebar-header">Activity History</p>
				</div>
				<span>
					<p-button  type="button" (click)="closeCallback($event)" icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary"></p-button>
				</span>
			</div>

			<p class=" ml-3">{{chatData.ITEM_NAME}}</p>
			<p class=" ml-3">{{chatData.ITEM_DESCRIPTION}}</p>
			
					<div class="row m-2">
						
						<div class="col-10">
						
							<textarea 
								rows="2"	
								class="w-100"
								pInputTextarea 
								[autoResize]="true"
								[(ngModel)]="commentText"
								>
							</textarea>
						</div>

						<div class="col-2"> 
							<button type="button" class="btn btn-success w-100 mt-2" (click)="postComment()"><i style="color: white;" class="bi bi-send"></i> Post</button>

						</div>

					</div>
					<p-divider />


					<div class="row m-2">
						
						<div class="col-1">
							<p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
						</div>

						<div class="col-11"> 
							<p> <b>Reyes, Sandra</b></p>
							<p>Feb 05, 2024 at 03:50 PM</p>
							<p-chip label="Ringfence"><i class="bi bi-arrow-repeat"></i></p-chip>
						
						</div>
					</div>

					<p class="mx-4" style="font-size: 14px;">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						 the Lorem Ipsum has been the industry's standard dummy text ever since the to 
						 1500s, when an unknown printer took a galley of type and scrambled it to make 
						 a type specimen book.	
					</p>

		</ng-template>
	</p-sidebar>
</div>



<!-- Table below content  -->

<div *ngIf="showDetailContent">

	<app-item-detail-landing></app-item-detail-landing>

</div>


<!-- inventory Chart -->

<div class="card inventory-chart mt-2" *ngIf="chartShow">

	<p-chart #chartElement type="line" [data]="inventoryChartData" [options]="options" /> 

</div>