<!-- Study Planning Management Table -->
<div *ngIf="!showStudyDetailPage">
    <p-table #dt [value]="studies" [(selection)]="selectedStudies" dataKey="id" editMode="row" [rowHover]="true" [rows]="setRows"
             [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions" [loading]="loading" [paginator]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
             [globalFilterFields]="['sponsor', 'protocol_id','study_type', 'countries', 'sites', 'sites_remaining', 'subjects_screened', 'qty_of_kits_study', 'qty_of_kits_initial', 'visits', 'pre_label_y', 'production_location', 'date_kos', 'revenue_gen']"
             styleClass={{selectedSize}} [exportHeader]="'customExportHeader'">
        <ng-template pTemplate="caption">
            <div class="table-header d-flex justify-content-between">
                <div>
                    <h5><b> Study Planning </b></h5> 
                </div>
                <div>
                    <span class="p-input-icon-left ml-auto" style="padding-right: 10px;">
                        <div class="row">
							<div class="col">
                                <i class="bi bi-download" (click)="exportExcel()"
                                style="font-size: 1.25rem; cursor: pointer;"></i>
                        </div>
                        <div class="col">
                            <i class="bi bi-layout-three-columns" (click)="handleAdditionanlColumn()"
                                style="font-size: 1.25rem; cursor: pointer;"></i>
                        </div>
                        <div class="col">
                            <span (click)="handleRowControl()" style="cursor: pointer;font-size: 1.25rem">
                                <i class="bi bi-arrows-angle-expand"
                                    *ngIf="changeExpandButton; else collapseIcon"></i>
                                <ng-template #collapseIcon>
                                    <i class="bi bi-arrows-angle-contract"></i>
                                </ng-template>
                            </span>
                        </div>
                    </div>
                </span>

                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="action-item" style="min-width: 5rem">
                    <div class="flex justify-content-between align-items-center">
                        Action Item
                    </div>
                </th>
                <th pSortableColumn="sponsor" style="min-width: 12rem">
                    <div class="flex justify-content-between align-items-center">
                        Sponsor
                        <p-columnFilter type="text" field="sponsor" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="protocol_id" style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Protocol ID
                        <p-columnFilter type="text" field="protocol_id" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="study_type" style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Study Type
                        <p-columnFilter type="text" field="study_type" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="countries">
                    <div class="flex justify-content-between align-items-center">
                        Countries
                        <p-columnFilter type="text" field="countries" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="sites">
                    <div class="flex justify-content-between align-items-center">
                        Sites
                        <p-columnFilter type="text" field="sites" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="sites_remaining">
                    <div class="flex justify-content-between align-items-center">
                        Sites Remaining
                        <p-columnFilter type="text" field="sites_remaining" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="subjects_screened">
                    <div class="flex justify-content-between align-items-center">
                        Subjects Screened
                        <p-columnFilter type="text" field="subjects_screened" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="qty_of_kits_study">
                    <div class="flex justify-content-between align-items-center">
                        Qty of Kits(Study)
                        <p-columnFilter type="text" field="qty_of_kits_study" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="qty_of_kits_initial">
                    <div class="flex justify-content-between align-items-center">
                        Qty of Kits(Initial)
                        <p-columnFilter type="text" field="qty_of_kits_initial" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="visits">
                    <div class="flex justify-content-between align-items-center">
                        Visits
                        <p-columnFilter type="text" field="visits" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="pre_label_y">
                    <div class="flex justify-content-between align-items-center">
                        Pre-Label
                        <p-columnFilter type="text" field="pre_label_y" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="production_location">
                    <div class="flex justify-content-between align-items-center">
                        Production Location
                        <p-columnFilter type="text" field="production_location" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="date_kos" style="min-width: 7rem">
                    <div class="flex justify-content-between align-items-center">
                        Date KOS
                        <p-columnFilter type="text" field="date_kos" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="revenue_gen">
                    <div class="flex justify-content-between align-items-center">
                        Revenue Gen
                        <p-columnFilter type="text" field="revenue_gen" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <ng-container *ngFor="let item of selectedItems">
					<th pSortableColumn="{{ item.field }}" style="min-width: 10rem">
						<div class="flex justify-content-between align-items-center">
							{{ item.name }}
							<p-columnFilter type="text" field="{{ item.field }}" display="menu" class="ml-auto">
							</p-columnFilter>
						</div>
					</th>
				</ng-container>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-study let-ri="rowIndex" let-editing="editing">
            <tr class="p-selectable-row" [pEditableRow]="study" style="height: 27px;">
                <td>
                    <span> <i class="bi bi-eye" (click)="handleBelowContent(study.study_type)"></i></span>
                    <span class="ml-2"><i class="bi bi-chat-left-text" (click)="handleChatRightSidebar(study)"></i></span>
                    <ng-container *ngIf="study.study_type === 'New'">
                    <span class="ml-2" *ngIf="!study.editing"><i class="bi bi-pencil" (click)="onEditRow(study)"></i></span>
                    <!-- <button 
                        *ngIf="!study.editing" 
                        pButton 
                        pRipple 
                        type="button" 
                        pInitEditableRow 
                        icon="bi bi-pencil" 
                        (click)="onEditRow(study)" 
                        class="p-button-rounded p-button-text custom-icon">
                    </button> -->
                    <div *ngIf="study.editing" class="d-flex align-items-center">
                        <button 
                            pButton 
                            pRipple 
                            type="button" 
                            pSaveEditableRow 
                            icon="pi pi-check" 
                            (click)="onSaveRow(study)" 
                            class="p-button-rounded p-button-text p-button-success mr-0">
                        </button>
                        <button 
                            pButton 
                            pRipple 
                            type="button" 
                            pCancelEditableRow 
                            icon="pi pi-times" 
                            (click)="onCancelRow(study, ri)" 
                            class="p-button-rounded p-button-text p-button-danger">
                        </button> 
                    </div>
                    </ng-container>
                    <!-- <span class="ml-2" *ngIf="study.editing"><i class="bi bi-check" (click)="onSaveRow(study)"></i></span>
                    <span class="ml-2" *ngIf="study.editing"><i class="bi bi-x" (click)="onCancelRow(study, ri)"></i></span> -->
                    
                </td>
                <td [pEditableColumn]="study.sponsor" pEditableColumnField="sponsor" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.sponsor" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.sponsor }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.sponsor }} -->
                </td>
                <td [pEditableColumn]="study.protocol_id" pEditableColumnField="protocol_id" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.protocol_id" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.protocol_id }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.protocol_id }} -->
                </td>
                <td [pEditableColumn]="study.study_type" pEditableColumnField="study_type" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.study_type" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.study_type }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.study_type }} -->
                </td>
                <td [pEditableColumn]="study.countries" pEditableColumnField="countries" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.countries" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.countries }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.countries }} -->
                </td>
                <td [pEditableColumn]="study.sites" pEditableColumnField="sites" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.sites" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.sites }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.sites }} -->
                </td>
                <td [pEditableColumn]="study.sites_remaining" pEditableColumnField="sites_remaining" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.sites_remaining" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.sites_remaining }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.sites_remaining }} -->
                </td>
                <td [pEditableColumn]="study.subjects_screened" pEditableColumnField="subjects_screened" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.subjects_screened" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.subjects_screened }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.subjects_screened }} -->
                </td>
                <td [pEditableColumn]="study.qty_of_kits_study" pEditableColumnField="qty_of_kits_study" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.qty_of_kits_study" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.qty_of_kits_study }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.qty_of_kits_study }} -->
                </td>
                <td [pEditableColumn]="study.qty_of_kits_initial" pEditableColumnField="qty_of_kits_initial" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.qty_of_kits_initial" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.qty_of_kits_initial }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.qty_of_kits_initial }} -->
                </td>
                <td [pEditableColumn]="study.visits" pEditableColumnField="visits" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.visits" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.visits }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.visits }} -->
                </td>
                <td [style.color]="study['pre_label_y'] === 'Yes' ? 'green' : 'red'" [pEditableColumn]="study.pre_label_y" pEditableColumnField="pre_label_y" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.pre_label_y" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.pre_label_y }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.pre_label_y }} -->
                </td>
                <td [pEditableColumn]="study.production_location" pEditableColumnField="production_location" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="study.production_location" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.production_location }}
                        </ng-template>
                    </p-cellEditor>
                    <!-- {{ study.production_location }} -->
                </td>
                <td [pEditableColumn]="study.date_kos" pEditableColumnField="date_kos" 
    [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
    <p-cellEditor>
        <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="study.date_kos" />
        </ng-template>
        <ng-template pTemplate="output">
            <div class="date-kos-column">
                <ng-container *ngIf="isIconVisible(study, 'warning')">
                    <i class="bi bi-exclamation-circle-fill warning-icon" style="color: rgba(252, 180, 21, 1);"></i>
                </ng-container>
                <ng-container *ngIf="isIconVisible(study, 'success')">
                    <i class="bi bi-check-circle-fill success-icon" style="color: rgba(65, 179, 78, 1);"></i>
                </ng-container>
                {{ study.date_kos }}
            </div>
        </ng-template>
    </p-cellEditor>
</td>


                <td [pEditableColumn]="study.revenue_gen" pEditableColumnField="revenue_gen" [style.pointer-events]="study.editing && study.study_type === 'New' ? 'auto' : 'none'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input 
                                pInputText 
                                type="text" 
                                [(ngModel)]="study.revenue_gen" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ study.revenue_gen }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                
                <!-- <td>
					<div class="item-type-icons">
						<div class="item-type-cheap" style="background-color: rgba(227, 96, 96, 0.325);">
							<i class="bi bi-exclamation-triangle" style="color: red;"></i>
						</div>
						<div class="item-type-cheap" style="background-color: #D1E9F6;">
							<i class="bi bi-thermometer-snow" style="color:#1790D0;"></i>
						</div>
						<div class="item-type-cheap" style="background-color: #D4FCFC;">
							<i class="bi bi-hourglass" style="color: #004750;"></i>
						</div>
						<div class="item-type-cheap" style="background-color :#B3C8CB;">
							<i class="bi bi-box-seam" style="color: #004750;"></i>
						</div>

					</div>

				</td> -->
                <ng-container *ngFor="let item of selectedItems">
					<td *ngIf="item['field']">{{study[item.field]}}</td>
				</ng-container>
            </tr>
            
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No Data found.</td>
            </tr>
        </ng-template>

    </p-table>

</div>

<!-- table view menu -->
<div class="table-view">


</div>

<!-- table add column -->
<div class="addition-col-menu">
	<p-listbox *ngIf="viewAdditionColumn" [options]="additionalColList" [(ngModel)]="selectedItems" 
		[selectAll]="selectAll" optionLabel="name" [virtualScroll]="true" [filter]="true" [virtualScrollItemSize]="50"
		[multiple]="true" [checkbox]="true" [showToggleAll]="false" [metaKeySelection]="false" [showToggleAll]="true"
		(onChange)="onSelectionChange($event)" (onSelectAllChange)="onSelectAllChange($event)"
		[listStyle]="{ 'max-height': '220px' }"></p-listbox>
</div>

<!-- chat side bar  -->
<!-- <div class="item-detail-right-sidebar">
	<p-sidebar [(visible)]="chatRightSideBar" position="right" styleClass="p-sidebar-lg">
		<ng-template pTemplate="headless">
			<div class="flex justify-content-between">
				<div>
					<span class="sidebar-header">Activity History</span>
				</div>
				<div>
					<span class="sidebar-header">{{selectedStudies.sponsor}}</span>
				</div>
				<span>
					<p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary"
						(click)="closeCallback($event)"></p-button>
				</span>
			</div>
		</ng-template>
	</p-sidebar>
</div> -->

<div class="item-detail-right-sidebar">
	<p-sidebar #sidebarRef [(visible)]="chatRightSideBar" position="right" styleClass="p-sidebar-lg">
		<ng-template pTemplate="headless">
			<div class="flex justify-content-between ml-3">
				<div>
					<p class="chat-sidebar-header">Activity History</p>
				</div>
				<span>
					<p-button type="button" (click)="closeCallback($event)" icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary"></p-button>
				</span>
			</div>

			<p class="ml-3">{{studyData.sponsor}}</p>
			<p class="ml-3">{{studyData.protocol_id}}</p>
			
			<div class="row m-2">
				<div class="col-10">
					<textarea 
						rows="2"	
						class="w-100"
						pInputTextarea 
						[autoResize]="true"
						[(ngModel)]="commentText"
					></textarea>
				</div>

				<div class="col-2"> 
					<button type="button" class="btn btn-success w-100 mt-2" (click)="postComment()">
						<i style="color: white;" class="bi bi-send"></i> Post
					</button>
				</div>
			</div>
			<p-divider />

			<div class="row m-2">
				<div class="col-1">
					<p-avatar 
                  image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                  styleClass="mr-2" 
                  size="xlarge" 
                  shape="circle" />
				</div>
				<div class="col-11"> 
					<p><b>Reyes, Sandra</b></p>
					<p>Feb 05, 2024 at 03:50 PM</p>
					<p-chip label="Ringfence"><i class="bi bi-arrow-repeat"></i></p-chip>
				</div>
			</div>

			<p class="mx-4" style="font-size: 14px;">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. The Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.	
			</p>
		</ng-template>
	</p-sidebar>
</div>

<!-- Alert message box 

<div *ngIf="alertRightSideBar" class="item-detail-right-sidebar">
    <app-msg-right-sidebar [allComments]="allComments" [unreadCommentLength] = "unreadCommentLength" ></app-msg-right-sidebar>
</div> -->

<!-- Table below content 
<div class="card" style="min-height: 500px;">
	<div *ngIf="showDetailContent">
		<app-study-detail-landing></app-study-detail-landing>
	</div>
</div> -->

<!-- Table below content  -->
<div class="card" style="min-height: 500px;">
    <div *ngIf="showNewStudyDetailContent">
      <app-study-detail-landing></app-study-detail-landing>
    </div>
    <div *ngIf="showLiveStudyDetailContent">
      <app-live-study-detail-landing></app-live-study-detail-landing>
    </div>
  </div>

