<!-- New Study Management Table -->
<div *ngIf="!showStudyDetailPage">
    <p-table #dt [value]="studies" [(selection)]="selectedStudies" dataKey="id" [rowHover]="true" [rows]="10"
             [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions" [loading]="loading" [paginator]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
             [globalFilterFields]="['sponsor', 'protocol_id', 'countries', 'sites', 'sites_completed', 'subjects_screened', 'qty_of_kits_study', 'qty_of_kits_initial', 'visits', 'pre_label_y', 'kit_vendor', 'date_kit_at_first_site', 'revenue_gen']"
             styleClass={{selectedSize}} [exportHeader]="'customExportHeader'">
        <ng-template pTemplate="caption">
            <div class="table-header d-flex justify-content-between">
                <div>
                    <h4> New Study </h4> 
                </div>
                <div>
                    <span class="p-input-icon-left ml-auto">
                        <span (click)="exportExcel()">
                            <p-button [text]="true" [plain]="true"> <i class="bi bi-download"></i></p-button>
                        </span>
                        <span (click)="handleTableView()">
                            <p-button [text]="true" icon="pi pi-table" [plain]="true"> </p-button>
                        </span>
                        <span (click)="handleAdditionanlColumn()">
                            <p-button [text]="true" [plain]="true"> <i class="bi bi-layout-three-columns"></i></p-button>
                        </span>
                        <p-button [text]="true" [plain]="true"> <i class="bi bi-arrows-angle-expand"></i></p-button>
                    </span>

                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="action-item" style="min-width: 5rem">
                    <div class="flex justify-content-between align-items-center">
                        Action Item
                    </div>
                </th>
                <th pSortableColumn="sponsor" style="min-width: 12rem">
                    <div class="flex justify-content-between align-items-center">
                        Sponsor
                        <p-columnFilter type="text" field="sponsor" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="protocol_id" style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Protocol ID
                        <p-columnFilter type="text" field="protocol_id" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="countries">
                    <div class="flex justify-content-between align-items-center">
                        Countries
                        <p-columnFilter type="text" field="countries" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="sites">
                    <div class="flex justify-content-between align-items-center">
                        Sites
                        <p-columnFilter type="text" field="sites" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="sites_completed">
                    <div class="flex justify-content-between align-items-center">
                        Sites Completed
                        <p-columnFilter type="text" field="sites_completed" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="subjects_screened">
                    <div class="flex justify-content-between align-items-center">
                        Subjects Screened
                        <p-columnFilter type="text" field="subjects_screened" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="qty_of_kits_study">
                    <div class="flex justify-content-between align-items-center">
                        Qty of Kits(Study)
                        <p-columnFilter type="text" field="qty_of_kits_study" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="qty_of_kits_initial">
                    <div class="flex justify-content-between align-items-center">
                        Qty of Kits(Initial)
                        <p-columnFilter type="text" field="qty_of_kits_initial" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="visits">
                    <div class="flex justify-content-between align-items-center">
                        Visits
                        <p-columnFilter type="text" field="visits" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="pre_label_y">
                    <div class="flex justify-content-between align-items-center">
                        Pre-Label
                        <p-columnFilter type="text" field="pre_label_y" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="kit_vendor">
                    <div class="flex justify-content-between align-items-center">
                        Kit Vendor
                        <p-columnFilter type="text" field="kit_vendor" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="date_kit_at_first_site" style="min-width: 7rem">
                    <div class="flex justify-content-between align-items-center">
                        Date Kit at First Site
                        <p-columnFilter type="text" field="date_kit_at_first_site" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="revenue_gen">
                    <div class="flex justify-content-between align-items-center">
                        Revenue Gen
                        <p-columnFilter type="text" field="revenue_gen" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-study>
            <tr class="p-selectable-row" style="height: 27px;">
                <td>
                    <span> <i class="bi bi-eye" (click)="hanldeBelowContent()"></i></span>
                    <span class="ml-3"><i class="bi bi-chat-left-text" (click)="handleChatRightSidebar()"></i></span>
                </td>
                <td>
                    <div class="item-section"> {{study.sponsor }} </div>
                </td>
                <td>
                    {{ study.protocol_id }}
                </td>
                <td>
                    {{ study.countries }}
                </td>
                <td>
                    {{ study.sites }}
                </td>
                <td>
                    {{ study.sites_completed }}
                </td>
                <td>
                    {{ study.subjects_screened }}
                </td>
                <td>
                    {{ study.qty_of_kits_study }}
                </td>
                <td>
                    {{ study.qty_of_kits_initial }}
                </td>
                <td>
                    {{ study.visits }}
                </td>
                <td [style.color]="study['pre_label_y'] === 'Yes' ? 'green' : 'red'">
                    {{ study.pre_label_y }}
                </td>
                <td>
                    {{ study.kit_vendor }}
                </td>
                <td>
                    {{ study.date_kit_at_first_site }}
                </td>
                <td>
                    {{ study.revenue_gen }}
                </td>

                <!-- <td>
					<div class="item-type-icons">
						<div class="item-type-cheap" style="background-color: rgba(227, 96, 96, 0.325);">
							<i class="bi bi-exclamation-triangle" style="color: red;"></i>
						</div>
						<div class="item-type-cheap" style="background-color: #D1E9F6;">
							<i class="bi bi-thermometer-snow" style="color:#1790D0;"></i>
						</div>
						<div class="item-type-cheap" style="background-color: #D4FCFC;">
							<i class="bi bi-hourglass" style="color: #004750;"></i>
						</div>
						<div class="item-type-cheap" style="background-color :#B3C8CB;">
							<i class="bi bi-box-seam" style="color: #004750;"></i>
						</div>

					</div>

				</td> -->
            </tr>
            
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No Data found.</td>
            </tr>
        </ng-template>

    </p-table>

</div>

<!-- Table below content  -->
<div class="card" style="min-height: 500px;">
	<div *ngIf="showDetailContent">
		<app-study-detail-landing></app-study-detail-landing>
	</div>
</div>