.progress-bar {
    display: flex;
    align-items: center; /* Centers the text vertically */
    height: 15px; /* Fixed height as specified */
    border-radius: 10px 0 0 10px; /* Border radius as specified */
    overflow: hidden; /* Ensures the text does not overflow outside the progress bar */
    position: relative; /* Allows positioning of the inner text */
    width: 150.56px; /* Full width as specified */
  }
  
  .progress-value {
    width: 75.28px;
    height: 15px;
    opacity: 1; /* Ensure the text is visible */
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.4px;
    text-align: center;
    color: var(--Base-White, rgba(255, 255, 255, 1)); /* Ensures text color is white */
    position: absolute;
    top: 50%;
    left: 25%; /* Adjusted to be in the middle of the first 50% of the progress bar */
    transform: translate(-50%, -50%);
  }
  