
<div class="row" >
<div class="col card below-card" >
	<div class="d-flex justify-content-between">
				
		<div>
			<h4>Ring Fence</h4>
		</div>
		<div>
			<span class="p-input-icon-left ml-auto">
				<span >
					<p-button [text]="true" [plain]="true"> <i class="bi bi-graph-up-arrow"></i></p-button>
				</span>

				<span >
					<p-button [text]="true" [plain]="true"><i class="bi bi-arrows-angle-expand"></i></p-button>
				</span>
				
			</span>

		</div>
	</div>
	
  <p-table #dt [value]="ringFenceData"  dataKey="id" [rowHover]="true"
		[rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30]" [loading]="loading"
		[paginator]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[filterDelay]="0"
		[globalFilterFields]="['ITEM_ID', 'ITEM_NAME', 'ITEM_DESCRIPTION', 'DEMAND' , 'ON_STOCK' , 'AVAILABILITY','OPEN_PO' ,'ITEM_TYPE']"
		styleClass=" p-datatable-gridlines p-datatable-striped p-datatable-sm" >

		<ng-template pTemplate="header">
			<tr>
				
				<th pSortableColumn="action-item">
					<div class="flex justify-content-between align-items-center">
						Action
					</div>
				</th>

				<th pSortableColumn="ITEM_NAME">
					<div class="flex justify-content-between align-items-center">
            Location
					</div>
				</th>
				<th pSortableColumn="ITEM_DESCRIPTION">
					<div class="flex justify-content-between align-items-center">
						Lot No.
					</div>
				</th>

				<th pSortableColumn="DEMAND">
					<div class="flex justify-content-between align-items-center">
            Total Qty
					</div>
				</th>

				<th pSortableColumn="ON_STOCK">
					<div class="flex justify-content-between align-items-center">
						Qty Ring Fenced
					
					</div>
				</th>

				<th pSortableColumn="AVAILABILITY">
					<div class="flex justify-content-between align-items-center">
						Qty Available
						
					</div>
				</th>

				<th pSortableColumn="OPEN_PO">
					<div class="flex justify-content-between align-items-center">
						Locked Date
					</div>
				</th>

				<th pSortableColumn="DUE_DATE" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
            Unlocked Date
					</div>
				</th>

				<th pSortableColumn="ITEM_TYPE" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Expire Date
					</div>
				</th>

			</tr>
		</ng-template>
    
		<ng-template pTemplate="body" let-ringFenceData>
			<tr class="p-selectable-row">
				<td>
					<span (click)="handleLockUnlockShow()" > <i class="bi bi-unlock"></i></span>
					<span class="ml-3"><i class="bi bi-chat-left-text" ></i></span>
				</td>
				<td>
					{{ringFenceData.location}}
				</td>
				<td>
					{{ringFenceData.lotNo}}
				</td>
				<td>
					{{ringFenceData.totalQty}}
				</td>
				<td>
					{{ringFenceData.qtyRingFenced}}
				</td>
				<td>
					{{ringFenceData.qtyAvailable}}
				</td>
				<td>
					{{ringFenceData.lockedDate}}
				</td>
				<td>
					{{ringFenceData.unlockedDate}}
				</td>
				<td>
					{{ringFenceData.expireDate}}
				</td>
				
			</tr>
		</ng-template>
		
		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="8">No Data found.</td>
			</tr>
		</ng-template>

	</p-table>
 
</div>

<!-- .............. lock unlock Form............ -->

<div class=" col-md-3 card mx-2 below-card" *ngIf="lockActive">
	<h5>Lock</h5>

	<div class="flex flex-wrap gap-3">
		<div class="flex align-items-center">
			<p-radioButton name="pizza" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1"></p-radioButton>
			<label for="ingredient1" class="ml-2">Lock</label>
		</div>
		
		<div class="flex align-items-center">
			<p-radioButton name="pizza" value="Mushroom" [(ngModel)]="ingredient" inputId="ingredient2"></p-radioButton>
			<label for="ingredient2" class="ml-2">Unlock</label>
		</div>
		</div>
	<div class="p-fluid p-formgrid grid">
		
		<div class="field md:col-6">
			<label htmlFor="state">Sponsor *</label>
			<p-dropdown [options]="dropdownItems" optionLabel="name" ></p-dropdown>
		</div>
		<div class="field md:col-6">
			<label htmlFor="state">Protocol ID *</label>
			<p-dropdown [options]="dropdownItems" optionLabel="name" ></p-dropdown>
		</div>

		<div class="field md:col-6">
			<label htmlFor="state">Location *</label>
			<p-dropdown [options]="dropdownItems" optionLabel="name" ></p-dropdown>
		</div>
		<div class="field md:col-6">
			<label htmlFor="state">Lot Number *</label>
			<p-dropdown [options]="dropdownItems" optionLabel="name" ></p-dropdown>
		</div>
		<div class="field md:col-6">
			<label htmlFor="state">Qty Unlock *</label>
			<input pInputText id="username" type="text" />
		</div>
		<div class="field md:col-6">
			<label htmlFor="state">Date *</label>
			<p-calendar  [iconDisplay]="'input'" [showIcon]="true"></p-calendar>
		</div>
    
	</div>

	<div>
		<p htmlFor="state"> <b>Comment</b> </p>
		<textarea class="w-100" rows="3" cols="15" placeholder="Your Message" pInputTextarea></textarea>
	</div>

	<div class="d-flex justify-content-between">
		<p-button label="Secondary" [outlined]="true" severity="secondary"></p-button>
		<p-button label="Success" [raised]="true" severity="success"></p-button>

	 </div>
</div>

</div>