
<div class="row mx-1">
	<div class="card col replacement-card" >
	
					
		<div class="mb-4">
			<h4 class="text-start">Replacement</h4>
		</div>
		
	

	<div class="replacement-main-card">
		<table >
			<thead class="replacement-header"   >
			<tr>
			  <th>Sponsor</th>
			  <th>Country</th>
			  <th>Protocol</th>
			  <th>Description</th>
			  <th>Product</th>
			  <th>Quantity</th>
			  <th>UOM</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			<td>
				<p-dropdown 
				[options]="sponsors"
				[(ngModel)]="selectedSponsors"
				optionLabel="name"
				[filter]="true"
				filterBy="name"
				[showClear]="true"
			     styleClass="w-full"
				 (onChange)="onSponsorChange($event)"
				placeholder="Select">
					<ng-template pTemplate="selectedItem" let-selectedOption>
						<div class="flex align-items-center gap-2">
							
							<div>{{ selectedOption.name }}</div>
						</div>
					</ng-template>
					<ng-template let-sponsors pTemplate="item">
						<div class="flex align-items-center gap-2">
							
							<div>{{ sponsors.name }}</div>
						</div>
					</ng-template>
			</p-dropdown>
			</td>
			<td>
				<p-dropdown 
				[options]="countries"
				[(ngModel)]="selectedCountries"
				optionLabel="name"
				[filter]="true"
				filterBy="name"
				[showClear]="true"
				 styleClass=" w-full "
				placeholder="Select">
					<ng-template pTemplate="selectedItem" let-selectedOption>
						<div class="flex align-items-center gap-2">
							
							<div>{{ selectedOption.name }}</div>
						</div>
					</ng-template>
					<ng-template let-countries pTemplate="item">
						<div class="flex align-items-center gap-2">
							
							<div>{{ countries.name }}</div>
						</div>
					</ng-template>
			</p-dropdown>
			</td>
			<td>
				<p-dropdown 
				[options]="protocolNumbers"
				[(ngModel)]="selectedProtocolNumbers"
				optionLabel="name"
				[filter]="true"
				filterBy="name"
				[showClear]="true"
				 styleClass=" w-full  "
				placeholder="Select">
					<ng-template pTemplate="selectedItem" let-selectedOption>
						<div class="flex align-items-center gap-2">
							
							<div>{{ selectedOption.name }}</div>
						</div>
					</ng-template>
					<ng-template let-protocolNumbers pTemplate="item">
						<div class="flex align-items-center gap-2">
							
							<div>{{ protocolNumbers.name }}</div>
						</div>
					</ng-template>
			</p-dropdown>
			</td>
			<td>GREINER 2ML GREY/WHITE SODIUM FLUORIDE VACUETTE TU</td>
			<td>01-213-100-Z</td>
			<td>1</td>
			<td>EA</td>
		</tr>
	</tbody>
		</table>
	</div>
	
	
		

		<!-- ................................on select show table---------------- -->
	
		<div *ngIf="showReplacementData" class="mt-4">
		<span *ngIf="showReplacementData"><i class="bi bi-exclamation-circle-fill"></i> {{searchfilteredData.length}} Replacement items found</span>
		
		<span *ngIf="!searchfilteredData.length"> <i class="bi bi-exclamation-circle"></i> No Replacement items found</span>

		<p-table #dt [value]="searchfilteredData"  dataKey="id" [rowHover]="true"
		[rows]="10" [showCurrentPageReport]="true"  [loading]="loading"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[filterDelay]="0"
		styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"  >
	   
		<ng-template pTemplate="header">
		  <tr>
			<th pSortableColumn="action-item">
			  <div class="flex justify-content-between align-items-center">
				Action 
			  </div>
			</th>
	  
			<th pSortableColumn="ITEM_NAME">
			  <div class="flex justify-content-between align-items-center">
				Sponsor
				<p-columnFilter type="text" field="ITEM_NAME" display="menu" class="ml-auto"></p-columnFilter>
			  </div>
			</th>
			<th pSortableColumn="ITEM_NAME">
				<div class="flex justify-content-between align-items-center">
				  Country
				  <p-columnFilter type="text" field="ITEM_NAME" display="menu" class="ml-auto"></p-columnFilter>
				</div>
			  </th>
			<th pSortableColumn="ITEM_DESCRIPTION">
			  <div class="flex justify-content-between align-items-center">
				Description
				<p-columnFilter type="text" field="ITEM_DESCRIPTION" display="menu"
				  class="ml-auto"></p-columnFilter>
			  </div>
			</th>
	  
			<th pSortableColumn="DEMAND">
			  <div class="flex justify-content-between align-items-center">
				Product #
				<p-columnFilter type="text" field="DEMAND" display="menu" class="ml-auto"></p-columnFilter>
			  </div>
			</th>
	  
			<th pSortableColumn="ON_STOCK">
			  <div class="flex justify-content-between align-items-center">
				Quantity
				<p-columnFilter type="text" field="ON_STOCK" display="menu" class="ml-auto"></p-columnFilter>
			  </div>
			</th>
	  
			<th pSortableColumn="AVAILABILITY">
			  <div class="flex justify-content-between align-items-center">
				UOM
				<p-columnFilter type="text" field="AVAILABILITY" display="menu"
				  class="ml-auto"></p-columnFilter>
			  </div>
			</th>
	  
			<th pSortableColumn="OPEN_PO">
			  <div class="flex justify-content-between align-items-center">
				On Stock
				<p-columnFilter type="text" field="OPEN_PO" display="menu" class="ml-auto"></p-columnFilter>
			  </div>
			</th>
	  
			<th pSortableColumn="ITEM_TYPE" style="min-width: 10rem">
			  <div class="flex justify-content-between align-items-center">
				Expiry Date
				<p-columnFilter type="numeric" field="ITEM_TYPE" display="menu" currency="USD"
				  class="ml-auto"></p-columnFilter>
			  </div>
			</th>	 
	  
		  </tr>
		</ng-template>
	  
		<ng-template pTemplate="body" let-searchfilteredData>
		  <tr class="p-selectable-row">
			<td>
			  <span (click)="handleShowReplacement();handleReplacementActionData(searchfilteredData['sponsor']);" > <i class="bi bi-arrow-left-right"></i></span>
			  
			</td>
			<td>{{searchfilteredData['sponsor']}}</td>
			<td>{{searchfilteredData['country']}}</td>
			<td>{{searchfilteredData['description']}}</td>
			<td>{{searchfilteredData['item']}}</td>
			<td>{{searchfilteredData['quantity']}}</td>
			<td>{{searchfilteredData['uom']}}</td>
			<td>{{searchfilteredData['availability']}}</td>
			<td>{{ util.formatDate(searchfilteredData['expiryDate'])}}</td>
	
		  </tr>
		</ng-template> 
		
		<ng-template pTemplate="emptymessage">
		  <tr>
			<td colspan="8">No Data found.</td>
		  </tr>
		</ng-template>
	  
	  </p-table>
	  </div>
	
	</div>
	
	<div class="col-md-3 card mx-2 side-card" *ngIf="showReversal">
		<h6><b>Replacement Action</b></h6>
	  
		<form [formGroup]="form" (ngSubmit)="handleSubmit()">
		  <div class="p-fluid p-formgrid grid">
			<div class="field md:col-6">
			  <label for="sponsor">Sponsor *</label>
			  <p-dropdown
				[options]="actionSponsorList"
				optionLabel="name"
				formControlName="sponsor"
				[ngClass]="{ 'ng-invalid ng-dirty': form.controls['sponsor'].invalid && form.controls['sponsor'].touched }"
			  ></p-dropdown>
			</div>
	  
			<div class="field md:col-6">
			  <label for="protocolId">Protocol ID *</label>
			  <p-dropdown
				[options]="actionProtocolIdList"
				optionLabel="name"
				formControlName="protocolId"
				[ngClass]="{ 'ng-invalid ng-dirty': form.controls['protocolId'].invalid && form.controls['protocolId'].touched }"
			  ></p-dropdown>
			</div>
	  
			<div class="field md:col-6">
			  <label for="location">Location *</label>
			  <p-dropdown
				[options]="actionLocationList"
				optionLabel="name"
				formControlName="location"
				[ngClass]="{ 'ng-invalid ng-dirty': form.controls['location'].invalid && form.controls['location'].touched }"
			  ></p-dropdown>
			</div>
	  
			<div class="field md:col-6">
			  <label for="workOrder">Work Order *</label>
			  <p-dropdown
				[options]="actionWorkOrderList"
				optionLabel="name"
				formControlName="workOrder"
				[ngClass]="{ 'ng-invalid ng-dirty': form.controls['workOrder'].invalid && form.controls['workOrder'].touched }"
			  ></p-dropdown>
			</div>
	  
			<div class="field md:col-6">
			  <label for="lotNumber">Lot Number *</label>
			  <p-dropdown
				[options]="actionLotNumberList"
				optionLabel="name"
				formControlName="lotNumber"
				[ngClass]="{ 'ng-invalid ng-dirty': form.controls['lotNumber'].invalid && form.controls['lotNumber'].touched }"
			  ></p-dropdown>
			</div>
	  
			<div class="field md:col-6">
			  <label for="qtyReplace">Qty Replace *</label>
			  <input
				pInputText
				id="qtyReplace"
				type="text"
				formControlName="qtyReplace"
				[ngClass]="{ 'ng-invalid ng-dirty': form.controls['qtyReplace'].invalid && form.controls['qtyReplace'].touched }"
			  />
			</div>
		  </div>
	  
		  <div>
			<p class="mb-0 mt-0"><b>Comment</b></p>
			<textarea
			  class="w-100"
			  rows="2"
			  cols="15"
			  placeholder="Your Message"
			  pInputTextarea
			  formControlName="comment"
			></textarea>
		  </div>
	  
		  <div class="d-flex justify-content-between">
			<button type="button" class="btn btn-outline-dark mt-2" (click)="handleShowReplacement()">Cancel</button>
			<button type="submit" class="btn btn-success mt-2">Submit</button>
		  </div>
		</form>
	  </div>
	  
	
	</div>