
<section>
  <div class="rt-container">
        <div class="col-rt-12">
            <div class="Scriptcontent">
            
     <!-- Stepper HTML -->
<div class="step step-active">
<div>
  <div class="circle"></div>
</div>
<div>
  <div class="title">    
    <app-arrow-card></app-arrow-card>
  </div>
 
</div>
</div>
<div class="step step-active">
<div>
  <div class="circle"></div>
</div>
<div>
  <div class="title">
    <app-arrow-card></app-arrow-card>
  </div>
  
</div>
</div>
<div class="step step-active">
<div>
  <div class="circle"></div>
</div>
<div>
  <div class="title">    
    <app-arrow-card></app-arrow-card>
  </div>
   
</div>
</div>
                
<div class="step step-active">
<div>
  <div class="circle"></div>
</div>
<div>
  <div class="title">    
    <app-arrow-card></app-arrow-card>
  </div>
</div>
</div>
<!-- End Stepper HTML -->
      
         
      </div>
  </div>
  </div>
</section>