<div class="row">
  <div class="col card below-card" style="margin-left: 10px;">

    <div class="mt-3 accordion-header" style="position: relative;">
      <h6><b class="heading-properties">Summary</b></h6>
      <div style="width: 1610px; height: 1px; border: 1px solid rgba(225, 225, 226, 1); margin-bottom: 0;"></div>
      <p class="text-properties">
        The item number 01-213-100-Z selected had 200 sponsors, 90 locations, 1580 protocols, 600 initial work orders, and 20 purchase orders
      </p>
    </div>
      
    <div class="accordion-header">
      <h6><b class="heading-properties">Locations</b></h6>
      <p class="text-properties">We completed 50 locations out of 90 by 22nd March 2024 and targeted date is 15th Sept 2024 to complete all other locations.</p>
    </div>
    
    <div class="accordion-header">
      <h6><b class="heading-properties">Protocols</b></h6>
      <p class="text-properties">To complete remain 40 locations by 15th Sept 2024 we required 1600 kits to complete the study.</p>
    </div>
    
    <div class="accordion-header">
      <h6><b class="heading-properties">Orders</b></h6>
      <p class="text-properties">To complete study we required 1600 kits but we have 500 kits at inventory, and raised purchase orders worth of 900</p>
    </div>
  </div>
</div>
