<div class="layout-topbar">
   
    <div class="d-flex justify-content-between">
        <a class="layout-topbar-logo" routerLink="">
            <img src="../../assets/logo.png" alt="logo">
        </a>
        <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
            <i class="bi bi-list h1"></i>
        </button>
    </div>
   
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i style="color: white;" class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button">
            <i style="color: white;" class="bi-search"> </i>
            <span>Calendar</span>
        </button>

        <button class="p-link layout-topbar-button">
            <i style="color: white;" class="bi bi-arrow-repeat"> </i>
            <span>Calendar</span>
        </button>
       

        <button class="p-link layout-topbar-button"  [routerLink]="'/to-do-list'">
            <i style="color: white;" class="bi bi-inboxes"> </i>
            <span>Calendar</span>
        </button>
       
       
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'"  (click)="hideShowHistorySidebar()" >
           
            <i style="color: white;" class="bi-clock-history"></i>
            <span>Settings</span>
        </button>
        <div class="p-3"  (click)="hideShowAlertSidebar()">
            <i  *ngIf="getComments"  style="color: white;" class="pi pi-bell text-3xl" pBadge [value]="unreadCommentLength.toString()"  severity="danger" (click)="handleReadComments()"></i>
            <i *ngIf="!getComments" style="color: white;"  class="pi pi-bell text-3xl"></i>
        </div>
       
        <button class="p-link layout-topbar-button user-avtar " (click)="handleProfile()">
            <i style="color: white;" class="bi bi-person-circle"></i>
            <span >Profile</span>
        </button>
       
    </div>

</div>


 <!-- Alert message box  -->

<div *ngIf="alertRightSideBar" class="item-detail-right-sidebar">
    <app-msg-right-sidebar [allComments]="allComments" [unreadCommentLength] = "unreadCommentLength" ></app-msg-right-sidebar>
</div>

<!-- Data Update History right sidebar -->

<p-sidebar  #sidebarRef  [(visible)]="historyRightSideBar" position="right" styleClass="p-sidebar-lg">
    <ng-template pTemplate="headless"  >
      <div class="flex justify-content-between ml-3 mt-4">
        <div>
          <p class="alert-sidebar-header"> Data Update History</p>
        </div> 
        <span>
            <i class="bi bi-calendar3 mx-4" style="font-size: 25px;"></i>
            <i class="bi bi-filter mx-4" style="font-size: 25px;"></i>
          <p-button  type="button" (click)="closeCallback($event)" icon="pi pi-times text-3xl" [rounded]="true" [text]="true" severity="secondary"></p-button>
        </span>
      </div>

      <div class="m-4">
          <app-vertical-stepper></app-vertical-stepper>
      </div>
      
        
    </ng-template>
  </p-sidebar>


  <!-- Profile Menu Item -->


<div class="profileMenu" *ngIf="showProfile">
  <p-menu [model]="profileMenu" styleClass="w-full md:w-20rem">
    <ng-template pTemplate="start">
        <button pRipple class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround">
            <p-avatar 
            label="R" 
            styleClass="mr-2" 
            size="xlarge" 
            shape="circle" />
            <span class="inline-flex flex-column">
                <span class="font-bold profile-text" >Cleary, Laura</span>
                <span class=" profile-text" >Admin</span>
            </span>
        </button>
        <p-divider/>
    </ng-template>
  
    <ng-template pTemplate="profileMenu" let-profileMenu>
        <a pRipple class="flex align-items-center p-menuitem-link">
            <span class="profile-text"> <i  [class]="profileMenu.icon"></i></span>
            <span class="ml-2 profile-text"  >{{ profileMenu.label }}</span>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <p-divider/>
        <button pRipple class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround">
            <span class='pi pi-sign-out '></span>
            <span class="ml-2 profile-text">Logout</span> 
        </button>
    </ng-template>
</p-menu>

</div>