<div class="layout-topbar">
   
    <div class="d-flex justify-content-between">
        <a class="layout-topbar-logo" routerLink="">
            <img src="../../assets/logo.png" alt="logo">
        </a>
        <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
            <i class="bi bi-list h1"></i>
        </button>
    </div>
   
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i style="color: white;" class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button">
            <i style="color: white;" class="bi-search"> </i>
            <span>Calendar</span>
        </button>

        <button class="p-link layout-topbar-button">
            <i style="color: white;" class="bi bi-arrow-repeat"> </i>
            <span>Calendar</span>
        </button>
       

        <button class="p-link layout-topbar-button">
            <i style="color: white;" class="bi bi-inboxes"> </i>
            <span>Calendar</span>
        </button>
       
       
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
           
            <i style="color: white;" class="bi-clock-history"></i>
            <span>Settings</span>
        </button>
        <button class="p-link layout-topbar-button user-avtar ">
            <i style="color: white;" class="bi-bell"></i>
            <span>Profile</span>
        </button>
       
        <button class="p-link layout-topbar-button user-avtar ">
            <i style="color: white;" class="bi bi-person-circle"></i>
            <span>Profile</span>
        </button>
       
    </div>

</div>