<div class="layout-topbar">
   
    <div class="d-flex justify-content-between">
        <a class="layout-topbar-logo" routerLink="">
            <img src="../../assets/logo.png" alt="logo">
        </a>
        <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="handleSideBarContent()">
            <i class="bi bi-list h1"></i>
        </button>
    </div>
   
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i style="color: white;" class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu " [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="handleSearchBar()"  *ngIf="!showSearchBar">
            <i style="color: white;" class="bi-search"> </i>
            <span>Calendar</span>
        </button>

        <div *ngIf="showSearchBar" class="searchBar d-flex justify-content-between mt-2 ">
            <i style="color: black;" class="bi-search ml-3 mt-3" (click)="handleSearchBar()"> </i>
             <div class="mt-1" > 

                 <p-dropdown 
                 [options]="searchOption"
                 [(ngModel)]="selectedSearchValue"
                 optionLabel="name"
                 [filter]="true" 
                 filterBy="name"
                 [showClear]="true"
                 placeholder='Search'
                 (onChange)="onSearchOptionSelected()"
                 >
                     <ng-template pTemplate="selectedItem" let-selectedOption>
                         <div class="flex align-items-center gap-2">
                            
                             <div>{{ selectedOption.name }}</div>
                         </div>
                     </ng-template>
                     <ng-template let-country pTemplate="item">
                         <div class="flex align-items-center gap-2">
                            
                             <div>{{ country.name }}</div>
                         </div>
                     </ng-template>
             </p-dropdown>
             
             </div>

            <div class="flex align-items-center gap-2">
                <input type="text" pInputText placeholder="Enter ID or Name" class="w-8rem sm:w-auto" />
            </div>

        </div>

        <button class="p-link layout-topbar-button">
            <i style="color: white;" class="bi bi-arrow-repeat"> </i>
            <span>Calendar</span>
        </button>
       

        <button class="p-link layout-topbar-button"  [routerLink]="'/to-do-list'">
            <i style="color: white;" class="bi bi-inboxes"> </i>
            <span>Calendar</span>
        </button>
       
       
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'"  (click)="hideShowHistorySidebar()" >
           
            <i style="color: white;" class="bi-clock-history"></i>
            <span>Settings</span>
        </button>
        <div class="p-3"  (click)="hideShowAlertSidebar()">
            <i  *ngIf="getComments"  style="color: white;" class="pi pi-bell text-3xl" pBadge [value]="unreadCommentLength.toString()"  severity="danger" (click)="handleReadComments()"></i>
            <i *ngIf="!getComments" style="color: white;"  class="pi pi-bell text-3xl"></i>
        </div>
       
        <button class="p-link layout-topbar-button user-avtar " (click)="handleProfile()">
            <i style="color: white;" class="bi bi-person-circle"></i>
            <span >Profile</span>
        </button>
       
    </div>

</div>


 <!-- Alert message box  -->

<div *ngIf="alertRightSideBar" class="item-detail-right-sidebar">
    <app-msg-right-sidebar [allComments]="allComments" [unreadCommentLength] = "unreadCommentLength" ></app-msg-right-sidebar>
</div>

<!-- Data Update History right sidebar -->

<p-sidebar  #sidebarRef  [(visible)]="historyRightSideBar" position="right" styleClass="p-sidebar-lg">
    <ng-template pTemplate="headless"  >
      <div class="flex justify-content-between ml-3 mt-4">
        <div>
          <p class="alert-sidebar-header"> Data Update History</p>
        </div> 
        <span>
            <i class="bi bi-calendar3 mx-4" style="font-size: 25px;"></i>
            <i class="bi bi-filter mx-4" style="font-size: 25px;"></i>
          <p-button  type="button" (click)="closeCallback($event)" icon="pi pi-times text-3xl" [rounded]="true" [text]="true" severity="secondary"></p-button>
        </span>
      </div>

      <div class="m-4">
          <app-vertical-stepper></app-vertical-stepper>
      </div>
      
        
    </ng-template>
  </p-sidebar>


  <!-- Profile Menu Item -->


<div class="profileMenu" *ngIf="showProfile">
  <p-menu [model]="profileMenu" styleClass="w-full md:w-20rem">
    <ng-template pTemplate="start">
        <button pRipple class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround">
            <p-avatar 
            label="R" 
            styleClass="mr-2" 
            size="xlarge" 
            shape="circle" />
            <span class="inline-flex flex-column">
                <span class="font-bold profile-text" >Cleary, Laura</span>
                <span class=" profile-text" >Admin</span>
            </span>
        </button>
        <p-divider/>
    </ng-template>
  
    <ng-template pTemplate="profileMenu" let-profileMenu>
        <a pRipple class="flex align-items-center p-menuitem-link">
            <span class="profile-text"> <i  [class]="profileMenu.icon"></i></span>
            <span class="ml-2 profile-text"  >{{ profileMenu.label }}</span>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <p-divider/>
        <button pRipple class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround">
            <span class='pi pi-sign-out '></span>
            <span class="ml-2 profile-text">Logout</span> 
        </button>
    </ng-template>
</p-menu>

</div>


<!-- sidebar items -->

<p-sidebar [(visible)]="sidebarVisible"  styleClass="w-24rem">

    <ng-template pTemplate="header">
        <a class="layout-topbar-logo mr-4" routerLink="">
            <img src="../../assets/images/sidebar-logo.svg" alt="logo">
        </a>
      
    </ng-template>

    <ul class="layout-menu sidebar-menu">
        <ng-container *ngFor="let item of model; let i = index;">
            <li *ngIf="!item.separator" class="menu-item">
                <div (click)="toggleMenu(i)" class="menu-label">
                    <i [ngClass]="item.icon"></i>
                    <span>{{ item.label }}</span>
                    <i *ngIf="item.items" class="bi"
                       [ngClass]="item.collapsed ? 'bi-chevron-right' : 'bi-chevron-down'"></i>
                </div>
                <ul *ngIf="item.items && !item.collapsed" class="submenu">
                    <li *ngFor="let subItem of item.items">
                        <a [routerLink]="subItem.routerLink">
                            <i [ngClass]="subItem.icon"></i>
                            <span>{{ subItem.label }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *ngIf="item.separator" class="menu-separator"></li>
        </ng-container>
    
        <!-- Additional static sidebar items -->
        <div class="additionalSidebarItem">
            <span><i class="bi bi-people-fill ml-2 mr-3 mt-4"></i></span>
            <span>User Management</span>
        </div>
    
        <div class="additionalSidebarItem">
            <span><i class="bi bi-gear-fill ml-2 mr-3 mt-4"></i></span>
            <span>Setting</span>
        </div>
    
        <div class="additionalSidebarItem">
            <span><i class="bi bi-box-arrow-right ml-2 mr-3 mt-4"></i></span>
            <span>Sign Out</span>
        </div>
    
        <div class="extraTopMargine"></div>
    </ul>
    
      

 </p-sidebar>