<ul class="layout-menu" >
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"> </li>
        <li *ngIf="item.separator" class="menu-separator"></li>
        
    </ng-container>
     
    <div class="additionalSidebarItem" >
       <span><i class="bi bi-people-fill ml-2 mr-3 mt-4"></i></span> <span>User Management</span>
    </div>

    <div class="additionalSidebarItem" >
        <span><i class="bi bi-gear-fill  ml-2 mr-3 mt-4"></i></span> <span>Setting</span>
     </div>
     <div class="additionalSidebarItem" >
        <span><i class="bi bi-box-arrow-right  ml-2 mr-3 mt-4"></i></span> <span>Sign Out</span>
     </div>

     <div class="extraTopMargine"></div>
   
</ul>
