
.searchBar{
    background: #ffffff;
    border-radius: 5px;
    height: 3rem;
}

.searchBar::ng-deep.p-dropdown {
    background: #ffffff;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    width: 20rem;
    border-right: 1px solid black;
       height: 2rem;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-radius: 0px;
}


.searchBar::ng-deep .p-inputtext{
    border: none;
    height: 2rem;
}