.item-row{
    height: 3rem;
    width: 77vw;
}
.item-row-description{
    height: 3rem;
    width: 77vw;
}

.main-item{
    margin-left: -10px;
}

.purchase-order-card {
    height: 49vh;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}
