<div class="row">
    <div class="col card below-card" style="margin-left: 10px;">
      <div class="accordion-header" id="headingThree">
        <div>
          <h6><b>Countries</b></h6>
        </div>
      </div>
  
      <p-table [value]="countries" dataKey="Country" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[10, 20, 30]" [paginator]="false"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [filterDelay]="0"
               styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
  
        <ng-template pTemplate="header">
          <tr>
            <th style="background-color: rgba(255, 248, 232, 1);">
              Actions
          </th>
          <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="country">
            <div class="flex justify-content-between align-items-center">
                Country
                <p-columnFilter type="text" field="country" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="sites">
            <div class="flex justify-content-between align-items-center">
                Sites
                <p-columnFilter type="text" field="sites" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="#KitSupplied">
            <div class="flex justify-content-between align-items-center">
                # Kit Supplied
                <p-columnFilter type="text" field="#KitSupplied" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="#KitPending">
            <div class="flex justify-content-between align-items-center">
                # Kit Pending
                <p-columnFilter type="text" field="#KitPending" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="DateKOS">
            <div class="flex justify-content-between align-items-center">
                Date KOS
                <p-columnFilter type="date" field="DateKOS" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="FPFV">
            <div class="flex justify-content-between align-items-center">
                FPFV
                <p-columnFilter type="date" field="FPFV" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="progress">
            <div class="flex justify-content-between align-items-center">
                Progress
                <p-columnFilter type="text" field="progress" display="menu" class="ml-auto"></p-columnFilter>
            </div>
        </th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-country let-ri="rowIndex">
          <tr style="height: 27px;">
            <td>
              <span class="ml-2">
                <i class="bi bi-chat-left-text"></i>
              </span>
            </td>
            <td>
              {{ country.Country }}
            </td>
            <td>
              {{ country.Sites }}
            </td>
            <td>
              {{ country['#KitSupplied'] }}
            </td>
            <td>
              {{ country['#KitPending'] }}
            </td>
            <td>
              {{ country.DateKOS }}
            </td>
            <td>
              {{ country.FPFV }}
            </td>
            <td>
              <div class="progress-bar" [ngStyle]="getProgressBarStyle()">
                <span class="progress-value">
                  {{ country.Progress }}<ng-container *ngIf="shouldDisplayPercentage()">%</ng-container>
                </span>
              </div>
            </td>                     
          </tr>
        </ng-template>
  
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No Data found.</td>
          </tr>
        </ng-template>
  
      </p-table>
    </div>
  </div>
  