<!-- demand management table -->
<div *ngIf="!showItemDetailPage">
	<p-table #dt [value]="forecasts" [(selection)]="selectedforecasts" dataKey="ProductNo" [rowHover]="true"
		[rows]="setRows" [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions" [loading]="loading"
		[paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[filterDelay]="0"
		[globalFilterFields]="['Actions', 'Component', 'ITEM_DESCRIPTION', 'DEMAND' , 'ON_STOCK' , 'AVAILABILITY','OPEN_PO' ,'ITEM_TYPE']"
		styleClass={{selectedSize}} [exportHeader]="'customExportHeader'">
		<ng-template pTemplate="caption">
			<div class="table-header d-flex justify-content-between">
				<div>&nbsp;</div>
				<div>
					<h4 class="pagetitle"> Forecast</h4>
				</div>
				<div>
					<span class="p-input-icon-left ml-auto" style="padding-right: 10px;">
						<div class="row">
							<div class="col">
								<i class="bi bi-download" (click)="exportExcel()"
									style="font-size: 1.25rem; cursor: pointer;"></i>
							</div>
							<div class="col">
								<i class="bi bi-layout-three-columns" (click)="handleAdditionanlColumn()"
									style="font-size: 1.25rem; cursor: pointer;"></i>
							</div>
							<div class="col">
								<span (click)="handleRowControl()" style="cursor: pointer;font-size: 1.25rem">
									<i class="bi bi-arrows-angle-expand"
										*ngIf="changeExpandButton; else collapseIcon"></i>
									<ng-template #collapseIcon>
										<i class="bi bi-arrows-angle-contract"></i>
									</ng-template>

								</span>
							</div>
						</div>
					</span>
				</div>

			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th pSortableColumn="action-item">
					Action Item
				</th>
				<th pSortableColumn="Actions">
					<div class="flex justify-content-between align-items-center">
						Kit Production Locations
						<p-columnFilter type="text" field="Actions" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="Component">
					<div class="flex justify-content-between align-items-center">
						Component
						<p-columnFilter type="text" field="Component" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="ProductNo">
					<div class="flex justify-content-between align-items-center">
						Production No
						<p-columnFilter type="text" field="ProductNo" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="Manufacturer">
					<div class="flex justify-content-between align-items-center">
						Manufacturer
						<p-columnFilter type="text" field="Manufacturer" display="menu"
							class="ml-auto"></p-columnFilter>
					</div>

				</th>

				<th pSortableColumn="ItemType" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Item Type
						<p-columnFilter type="numeric" field="ItemType" display="menu" currency="USD"
							class="ml-auto"></p-columnFilter>
					</div>
				</th>
				<ng-container *ngFor="let item of monthlyData">
					<th *ngIf="item['value'] < 7" pSortableColumn="{{ item['field'] }}">
						<div class="flex justify-content-between align-items-center">
							{{ item['name'] }}
							<p-columnFilter type="text" field="{{item.field}}" display="menu"
								class="ml-auto"></p-columnFilter>
						</div>
					</th>
				</ng-container>
				<ng-container *ngFor="let item of selectedItems">
					<th pSortableColumn="{{ item.field }}" style="min-width: 10rem">
						<div class="flex justify-content-between align-items-center">
							{{ item.name }}
							<p-columnFilter type="text" field="{{ item.field }}" display="menu" class="ml-auto">
							</p-columnFilter>
						</div>
					</th>
				</ng-container>

			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-forecast>
			<tr class="p-selectable-row">
				<td>
					<span> <i class="bi bi-eye" (click)="hanldeBelowContent()"></i></span>
					<span class="ml-3"><i class="bi bi-chat-left-text" (click)="handleChatRightSidebar()"></i></span>
				</td>
				<td>
					{{ forecast.Actions }}
				</td>
				<td>
					{{ forecast.Component }}
				</td>
				<td>
					{{ forecast.ProductNo }}
				</td>
				<td>
					{{ forecast.Manufacturer }}
				</td>
				<td>
					<div class="item-type-icons">
						<div class="item-type-cheap" style="background-color: rgba(227, 96, 96, 0.325);">
							<i class="bi bi-exclamation-triangle" style="color: red;"></i>
						</div>
						<div class="item-type-cheap" style="background-color: #D1E9F6;">
							<i class="bi bi-thermometer-snow" style="color:#1790D0;"></i>
						</div>
						<div class="item-type-cheap" style="background-color: #D4FCFC;">
							<i class="bi bi-hourglass" style="color: #004750;"></i>
						</div>
						<div class="item-type-cheap" style="background-color :#B3C8CB;">
							<i class="bi bi-box-seam" style="color:#004750;"></i>
						</div>
					</div>
				</td>
				<ng-container *ngFor="let item of monthlyData">
					<td *ngIf="item['value'] < 7">{{forecast[item.field]}}</td>
				</ng-container>
				<ng-container *ngFor="let item of selectedItems">
					<td *ngIf="item['field']">{{forecast[item.field]}}</td>
				</ng-container>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="8">No Data found.</td>
			</tr>
		</ng-template>

	</p-table>

</div>

<!-- table view menu -->
<div class="table-view">


</div>

<!-- table add column -->
<div class="addition-col-menu">
	<p-listbox *ngIf="viewAdditionColumn" [options]="additionalColList" [(ngModel)]="selectedItems" 
		[selectAll]="selectAll" optionLabel="name" [virtualScroll]="true" [filter]="true" [virtualScrollItemSize]="50"
		[multiple]="true" [checkbox]="true" [showToggleAll]="false" [metaKeySelection]="false" [showToggleAll]="true"
		(onChange)="onSelectionChange($event)" (onSelectAllChange)="onSelectAllChange($event)"
		[listStyle]="{ 'max-height': '220px' }"></p-listbox>
</div>

<!-- chat side bar  -->
<div class="item-detail-right-sidebar">
	<p-sidebar [(visible)]="chatRightSideBar" position="right" styleClass="p-sidebar-lg">
		<ng-template pTemplate="headless">
			<div class="flex justify-content-between">
				<div>
					<span class="sidebar-header">Activity History</span>
				</div>
				<div>
					<span class="sidebar-header">{{selectedforecasts.description}}</span>
				</div>
				<span>
					<p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary "
						(click)="closeCallback($event)"></p-button>
				</span>
			</div>
		</ng-template>
	</p-sidebar>
</div>



<!-- Table below content  -->
<div class="card" style="min-height: 500px;">
	<div *ngIf="showDetailContent">
		<app-item-detail-landing></app-item-detail-landing>
	</div>
</div>