
<!-- demand management table -->
<div *ngIf="!showItemDetailPage">

	<p-table #dt [value]="customers" [(selection)]="selectedCustomers" dataKey="id" [rowHover]="true" [rows]="10"
		[showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions" [loading]="loading" [paginator]="true"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
		[globalFilterFields]="['item', 'description', 'demand', 'onstock' , 'availability' , 'open_po','due_date' ,'item_type']"
		styleClass={{selectedSize}} [exportHeader]="'customExportHeader'">
		<ng-template pTemplate="caption">
			<div class="table-header d-flex justify-content-between">
				<div>
					<h4> Forecast</h4>
				</div>
				<div>
					<span class="p-input-icon-left ml-auto">
						<span (click)="exportExcel()">
							<p-button [text]="true" [plain]="true"> <i class="bi bi-download"></i></p-button>
						</span>
						<span (click)="handleTableView()">
							<p-button [text]="true" icon="pi pi-table" [plain]="true"> </p-button>
						</span>
						<span (click)="handleAdditionanlColumn()">
							<p-button [text]="true" [plain]="true"> <i
									class="bi bi-layout-three-columns"></i></p-button>
						</span>
						<p-button [text]="true" [plain]="true"> <i class="bi bi-arrows-angle-expand"></i></p-button>
					</span>

				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<!-- <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
				<th pSortableColumn="action-item">
					<div class="flex justify-content-between align-items-center">
						Action Item
					</div>
				</th>

				<th pSortableColumn="name">
					<div class="flex justify-content-between align-items-center">
						Item
						<p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>
				<th pSortableColumn="description">
					<div class="flex justify-content-between align-items-center">
						Item Description
						<p-columnFilter type="text" field="description" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="demand">
					<div class="flex justify-content-between align-items-center">
						Demand
						<p-columnFilter type="text" field="demand" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="onstock">
					<div class="flex justify-content-between align-items-center">
						On Stock
						<p-columnFilter type="text" field="onstock" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="availability">
					<div class="flex justify-content-between align-items-center">
						Availablity
						<p-columnFilter type="text" field="availability" display="menu"
							class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="open_po">
					<div class="flex justify-content-between align-items-center">
						Open Po
						<p-columnFilter type="text" field="open_po" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="due_date" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Due Date

						<p-columnFilter type="date" field="due_date" display="menu" class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<th pSortableColumn="item_type" style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Item Type

						<p-columnFilter type="numeric" field="balance" display="menu" currency="USD"
							class="ml-auto"></p-columnFilter>
					</div>
				</th>

				<ng-container *ngFor="let item of tableHeaderItem">
					<ng-container *ngIf="item.active">
						<th pSortableColumn="{{ item.sortableColumn }}" style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								{{ item.columnName }}
								<p-columnFilter *ngIf="item.active" type="numeric" field="balance" display="menu"
									currency="USD" class="ml-auto">
								</p-columnFilter>
							</div>
						</th>
					</ng-container>
				</ng-container>

			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-customer>
			<tr class="p-selectable-row">
				<td>
					<span> <i class="bi bi-eye" (click)="hanldeBelowContent()"></i></span>
					<span class="ml-3"><i class="bi bi-chat-left-text" (click)="handleChatRightSidebar()"></i></span>
				</td>
				<td>
					<div class="item-section"> <i class="bi bi-search"></i> <span style="color: green;"> {{
							customer.item }} </span> </div>
				</td>
				<td>
					{{ customer.description }}
				</td>
				<td>
					{{ customer['demand'] }}
				</td>
				<td
					[style.color]="customer['on_stock'] === 'Out of Stock' || customer['availability'] === 'Out of Stock' ? 'red' : 'green'">
					{{ customer['on_stock'] }}
				</td>

				<td [ngClass]="{'text-danger': customer.availability === 'Out of Stock'}"
					(click)="rightSideBar = customer.availability !== 'Out of Stock'">
					<i *ngIf="customer.availability === 'Out of Stock'" class="bi bi-unlock"></i>
					<i *ngIf="customer.availability !== 'Out of Stock'" class="bi bi-lock"></i>
					{{ customer.availability }}
				</td>

				<td *ngIf="customer['open_po'] === 'No Open PO'" style="color: red;">{{ customer['open_po'] }}</td>
				<td *ngIf="customer['open_po'] !== 'No Open PO'"> {{ customer['open_po'] }}</td>
				<td>{{ customer['due_date'] }}</td>

				<td>
					<div class="item-type-icons">
						<div class="item-type-cheap" style="background-color: rgba(227, 96, 96, 0.325);">
							<i class="bi bi-exclamation-triangle" style="color: red;"></i>
						</div>
						<div class="item-type-cheap" style="background-color: #D1E9F6;">
							<i class="bi bi-thermometer-snow" style="color:#1790D0;"></i>
						</div>
						<div class="item-type-cheap" style="background-color: #D4FCFC;">
							<i class="bi bi-hourglass" style="color: #004750;"></i>
						</div>
						<div class="item-type-cheap" style="background-color :#B3C8CB;">
							<i class="bi bi-box-seam" style="color #004750;"></i>
						</div>

					</div>

				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="8">No Data found.</td>
			</tr>
		</ng-template>

	</p-table>

</div>

<!-- table view menu -->
<div class="table-view">
	<p-listbox *ngIf="tableViewOption" [options]="tableView" optionLabel="name" [style]="{'width':'15rem'}"
		[metaKeySelection]="false" [listStyle]="{'max-height': '220px'}">

		<ng-template let-data pTemplate="item">
			<div class="flex align-items-center gap-2" (click)="handleTableSize(data.name)">
				<div>{{ data.name }}</div>
			</div>
		</ng-template>
	</p-listbox>

</div>

<!-- table add column -->
<div class="addition-col-menu">
	<p-listbox *ngIf="viewAdditionColumn" [options]="additionalColList" [(ngModel)]="selectedItems"
		[selectAll]="selectAll" optionLabel="field" [style]="{ width: '20rem' }" [virtualScroll]="true" [filter]="true"
		[virtualScrollItemSize]="50" [multiple]="true" [checkbox]="true" [showToggleAll]="false"
		[metaKeySelection]="false" [showToggleAll]="true" (onChange)="addedColumnConfig($event)"
		[listStyle]="{ 'max-height': '220px' }"></p-listbox>
</div>

<!-- order detail page navigation  -->

<div *ngIf="showItemDetailPage">
	<app-item-details (goToOrderTable)="backToMainPage()"> </app-item-details>

</div>


<!-- right sidebar  -->

<div class="item-detail-right-sidebar">
	<p-sidebar [(visible)]="rightSideBar" position="right" styleClass="p-sidebar-lg">
		<ng-template pTemplate="headless">
			<div class="flex justify-content-between">
				<div>
					<span class="sidebar-header">Ring Fence</span>
					<p class="sidebar-header-id">ID: 01-213-100-Z</p>
				</div>
				<span>
					<p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary "
						(click)="closeCallback($event)"></p-button>
				</span>
			</div>


			<div class="container">
				<div class="flex justify-content-between">
					<div>
						<span class="item-detail-box-header">Item Details</span>
						<p>Kit Box Small 9x5x2.5 (with Sealing Strip)</p>
					</div>
					<button (click)="toggleContent()" class="toggle-button">
						<i class="pi" [ngClass]="{'pi-chevron-down': !showContent, 'pi-chevron-up': showContent}"></i>
					</button>
				</div>
				<div class="content" *ngIf="showContent">
					<div class="row">
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
					</div>

					<div class="row">
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
						<div class="col-3">
							<p class="text-center"> 4</p>
						</div>
					</div>
					<div class="mt-3">
						<span> <b>Sponsor Details</b></span>
						<p>Mitsubishi Tanabe Pharma</p>
					</div>

				</div>

				<div class="report-card">
					<p-chart type="pie" [data]="data" [options]="options" class="chart-container"></p-chart>
				</div>

				<div class="card">

					<p-table [value]="itemData" [tableStyle]="{ 'min-width': '50rem' }">
						<ng-template pTemplate="header">
							<tr>
								<th>Code</th>
								<th>Name</th>
								<th>Category</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-itemData>
							<tr>
								<td>{{ itemData.code }}</td>
								<td>{{ itemData.name }}</td>
								<td>{{ itemData.category }}</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>

		</ng-template>
	</p-sidebar>
</div>



<!-- chat side bar  -->

<div class="item-detail-right-sidebar">
	<p-sidebar [(visible)]="chatRightSideBar" position="right" styleClass="p-sidebar-lg">
		<ng-template pTemplate="headless">
			<div class="flex justify-content-between">
				<div>
					<span class="sidebar-header">Activities</span>
				</div>
				<span>
					<p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary "
						(click)="closeCallback($event)"></p-button>
				</span>
			</div>
		</ng-template>
	</p-sidebar>
</div>



<!-- Table below content  -->

<div *ngIf="showDetailContent">

	<app-item-detail-landing></app-item-detail-landing>

</div>