<div class="row">
    <div class="col card below-card" style="margin-left: 10px;">
        <div class="accordion-header" id="headingThree">
            <div>
                <h6><b>Work Orders</b></h6>
            </div>
        </div>

        <p-table [value]="workorders" dataKey="WorkOrder" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 20, 30]" [paginator]="false"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [filterDelay]="0"
                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">

            <ng-template pTemplate="header">
                <tr>
                    <th style="background-color: rgba(255, 248, 232, 1);">
                        Actions
                    </th>
                    <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="WorkOrder">
                        <div class="flex justify-content-between align-items-center">
                            Work Order #
                            <p-columnFilter type="text" field="WorkOrder" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="ProductionLocation">
                        <div class="flex justify-content-between align-items-center">
                            Production Location
                            <p-columnFilter type="text" field="ProductionLocation" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="OrderType">
                        <div class="flex justify-content-between align-items-center">
                            Order Type
                            <p-columnFilter type="text" field="OrderType" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="Site">
                        <div class="flex justify-content-between align-items-center">
                            Site #
                            <p-columnFilter type="text" field="Site" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="Kits">
                        <div class="flex justify-content-between align-items-center">
                           # Kits
                            <p-columnFilter type="text" field="Kits" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="Recipient">
                        <div class="flex justify-content-between align-items-center">
                            Recipient
                            <p-columnFilter type="text" field="Recipient" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="Status">
                        <div class="flex justify-content-between align-items-center">
                            Status
                            <p-columnFilter type="text" field="Status" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="DaysCreated">
                        <div class="flex justify-content-between align-items-center">
                            Days Created
                            <p-columnFilter type="text" field="DaysCreated" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="MultiLabel">
                        <div class="flex justify-content-between align-items-center">
                            Multi Label
                            <p-columnFilter type="text" field="MultiLabel" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="CreatedDate">
                        <div class="flex justify-content-between align-items-center">
                            Created Date
                            <p-columnFilter type="date" field="CreatedDate" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="DueDate">
                        <div class="flex justify-content-between align-items-center">
                            Due Date
                            <p-columnFilter type="date" field="DueDate" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="EstShippingDate">
                        <div class="flex justify-content-between align-items-center">
                            Est. Shipping Date
                            <p-columnFilter type="date" field="EstShippingDate" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="AssignedTo">
                        <div class="flex justify-content-between align-items-center">
                            Assigned To
                            <p-columnFilter type="text" field="AssignedTo" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                      <th style="background-color: rgba(255, 248, 232, 1);" pSortableColumn="PMApproval">
                        <div class="flex justify-content-between align-items-center">
                            PM Approval
                            <p-columnFilter type="text" field="PMApproval" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                      </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-workorder let-ri="rowIndex">
                <tr style="height: 27px;">
                    <td>
                        <span class="ml-2">
                            <i class="bi bi-chat-left-text"></i>
                        </span>
                    </td>
                    <td>{{ workorder.WorkOrder }}</td>
                    <td>{{ workorder.ProductionLocation }}</td>
                    <td>{{ workorder.OrderType }}</td>
                    <td>{{ workorder.Site }}</td>
                    <td>{{ workorder.Kits }}</td>
                    <td>{{ workorder.Recipient }}</td>
                    <td>{{ workorder.Status }}</td>
                    <td>{{ workorder.DaysCreated }}</td>
                    <td>{{ workorder.MultiLabel }}</td>
                    <td>{{ workorder.CreatedDate }}</td>
                    <td>{{ workorder.DueDate }}</td>
                    <td>{{ workorder.EstShippingDate }}</td>
                    <td>{{ workorder.AssignedTo }}</td>
                    <td>{{ workorder.PMApproval }}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No Data found.</td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>
