<div class="row inventory-configuration-main">

  <div class=" card inventory-configuration-sidebar">
 
    <ul class="option-list">
      <li *ngFor="let item of items"  [class.active]="item === activeItem" (click)="selectItem(item)">
          <i [class]="item.icon" ></i> <span class="mx-4"> {{ item.name }}</span> 
      </li>
    </ul>

  </div>

  <div class="card inventory-configuration-content">
    <div [ngSwitch]="activeItem.name">
      <div *ngSwitchCase="'Move Stock'" class="mr-4"> <h2 class="check">hirak</h2> </div>
      <div *ngSwitchCase="'Create PO'"><h1> Create PO</h1>  </div>
      <div *ngSwitchCase="'Need Replacement'"><h1>Need Replacement</h1></div>
      <div *ngSwitchCase="'Review Excess Stock'"> <h1>Review Excess Stock</h1></div>
    </div>

  </div>

</div>