@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

loginPage-root {
  font-family: sans-serif;
  background-color: #1e1e1e;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.sign-in-btn{
  .p-ripple {
    overflow: hidden;
    position: relative;
    width: 345px;
    background-color: #008579 !important;
    outline: solid 1px #008579;
    border-radius: 4px;
  }
}

