
<div class="card">
		<p-table
		[value]="customers"
        dataKey="id"
        [tableStyle]="{ 'min-width': '75rem' }"
        [selection]="selectedCustomers"
        (selectionChange)="onSelectionChange($event)"
        [selectAll]="selectAll"
        (selectAllChange)="onSelectAllChange($event)"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        [loading]="loading"
		[showCurrentPageReport]="true"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[rowsPerPageOptions]="rowsPerPageOptions"
      #dt1
		>
		<ng-template pTemplate="caption">
			<div class="flex">
				<i class="bi bi-exclamation-circle"></i><h5>Items List</h5>
				<span class="p-input-icon-left ml-auto">
					<p-button label="" [text]="true" icon="pi pi-download" [plain]="true"></p-button>
					<p-button label="" [text]="true" icon="pi pi-plus-circle" [plain]="true"></p-button>
					<p-button label="" [text]="true" icon="pi pi pi-bars" [plain]="true"></p-button>
					<p-button icon="pi pi-plus" label="New Order" [text]="true" severity="secondary"></p-button>
				</span>
			</div>
		</ng-template>

			<ng-template pTemplate="header">
				<tr>
					<th style="width: 6rem"></th>
					<ng-container *ngFor="let headerItem of tableHeaderItem">
						<th pSortableColumn="{{ headerItem.sortableColumn }}">{{ headerItem.columnName }}</th>
					  </ng-container>
				</tr>
				<tr>
					<th>
						<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
					</th>
						<th>
							<input pInputText type="text" 
							(input)="dt1.filter($any($event.target).value, 'item', 'contains')"
							 [value]="$any(dt1.filters['item'])?.value"
							placeholder="Item" 
							class="w-full"
							>
						</th>
						<th>
							<input pInputText type="text" 
							(input)="dt1.filter($any($event.target).value, 'description', 'contains')"
							[value]="$any(dt1.filters['description'])?.value"
							placeholder="Description"
							 class="w-full"
							 >
						</th>
						<th>
							<input pInputText type="text" 
							(input)="dt1.filter($any($event.target).value, 'quantity-ordered', 'contains')"
							[value]="$any(dt1.filters['quantity-ordered'])?.value"
							placeholder="Demand" 
							class="w-full">
						</th>
						<th>
							<input pInputText type="text" 
							(input)="dt1.filter($any($event.target).value, 'quantity-received', 'contains')"
							[value]="$any(dt1.filters['quantity-received'])?.value"
							 placeholder="On Stock" 
							 class="w-full">
						</th>
						<th>
							<input pInputText type="text" 
							(input)="dt1.filter($any($event.target).value, 'availability', 'contains')"
							[value]="$any(dt1.filters['availability'])?.value"
							 placeholder="Availability" 
							 class="w-full">
						</th>
						<th>
							<input pInputText type="text" 
							(input)="dt1.filter($any($event.target).value, 'open-po', 'contains')"
							[value]="$any(dt1.filters['open-po'])?.value"
							 placeholder="Open Po" 
							 class="w-full">
						</th>
						<!-- <th>
							<input pInputText type="text" 
							(input)="dt1.filter($any($event.target).value, 'order-date', 'contains')"
							[value]="$any(dt1.filters['order-date'])?.value"
							placeholder="ORDER-DATE"
							 class="w-full"
							 >
						</th> -->
						<th>
							<input pInputText type="text" 
							(input)="dt1.filter($any($event.target).value, 'date-due', 'contains')"
							[value]="$any(dt1.filters['date-due'])?.value"
							placeholder="Due Date" 
							class="w-full">
						</th>
						
						 <th>
							<input pInputText type="text" 
							(input)="dt1.filter($any($event.target).value, 'item-type', 'contains')"
							[value]="$any(dt1.filters['item-type'])?.value"
							placeholder="Item Type" 
							class="w-full">
						</th>
						<!--<th>
							<input pInputText type="text" 
							(input)="dt1.filter($any($event.target).value, 'customer.vendor', 'contains')"
							[value]="$any(dt1.filters['customer.vendor'])?.value"
							 placeholder="VENDOR" 
							 class="w-full">
						</th> -->
				</tr>				

		</ng-template>

			<ng-template pTemplate="body" let-customer>
				<tr>
					<td>
						<p-tableCheckbox [value]="customer"></p-tableCheckbox>
					</td>
					<td>{{ customer.item }}</td>
					<td>{{ customer.description }}</td>
					<td>{{ customer['quantity-ordered'] }}</td>
					<td>{{ customer['quantity-received'] }}</td>
					<td>{{ customer['date-due'] }}</td>
					<td>{{ customer['po'] }}</td>
					<td>{{ customer['item-type'] }}</td> 
					<!-- <td>{{ customer['quantity-open'] }}</td>
					<td>{{ customer.vendor }}</td> -->
				
				</tr>
			</ng-template>
		</p-table>
	</div>

