.study-detail-landing-container {
    margin-top: -18px;
    
}

.activate-component {
    width: 87%;
}

.menu-label-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1px;
    text-align: left;
}

.sidebar-label-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: left;
    margin: 0; /* Ensure there is no additional margin */
}

.live-study-heading {
    display: flex;
    align-items: center;
    color: rgba(117, 117, 117, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    opacity: 1;
    margin-top: 1px; /* Adjust this to control vertical spacing */

    i {
        color: rgba(59, 130, 246, 1);
        font-size: small;
        margin-right: 5px; /* Adjust this if you need a specific spacing between the icon and text */
    }
}

::ng-deep .p-menu {
    width: 20rem;
    height: 49vh;
}
