<div class="content-container">
    <div class="content-header-container">
      <h5 class="content-header">Revenue Goal Config</h5>
      <div class="header-border"></div>
    </div>
    
    <div class="panel-container">
      <div class="sub-header-container">
        <h5 class="sub-header">Farmingdale</h5>
        <i class="bi bi-chevron-right clickable-icon"></i>
      </div>
    </div>
  
    <div class="panel-container">
      <div class="sub-header-container">
        <h5 class="sub-header">Midland</h5>
        <i class="bi bi-chevron-right clickable-icon"></i>
      </div>
    </div>
  
    <div class="panel-container">
      <div class="sub-header-container">
        <h5 class="sub-header">Buford</h5>
        <i class="bi bi-chevron-right clickable-icon"></i>
      </div>
    </div>
  </div>
  